{% extends 'base/base.html' %}
{% load staticfiles %}
{% block center %}

{% include 'base/top.html' %}
{% include 'base/title.html' %}
<input type="hidden" id="isLogin" value="{% if request.session.isLogin != True %}0{% else %}1{% endif %}"/>
<script>
    isLogin = $('#isLogin').val()
    if (isLogin == 0) {
        location.href = '/login/'
    }

    $.ajax({
        url: _root + '/num?option=jt',
        type: 'GET',
        success: function(e) {
            if (e['status'] == true) {
                
                // let jsms_num = e['jsms']['dev_industry']
                let twilio_currency = e['twilio']['currency']
                let twilio_num = e['twilio']['balance']
                
                locationSmsNum(1000, twilio_num, twilio_currency)
            } else {
                alert('短信通訊狀況不佳，可能導致短信發送失敗，可聯系開發人員詢問詳情！！！')
            }
        },
        error: function(e) {
            alert('通讯渠道未开启，请联系開發人員！')
        }
    })
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="home-space"></div>

            <div id="sms_num_dom">
            </div>
            <form class="row" id="form-submit" method="post" action="/task/?option=add&id={{ task.id }}">
                <div class="form-group form-group-lg col-sm-2">
                    <label for="lang" class="control-label">短信語言：</label>
                    <select class="form-control def-select" name="lang" id="lang">
                        <option value="1" {% if lang == '1' %} selected {% endif %}>中文繁體</option>
                        <option value="2" {% if lang == '2' %} selected {% endif %}>英文</option>
                    </select>
                </div>
                <div class="form-group form-group-lg col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="area" class="control-label">接收者：</label>
                            <select class="form-control def-select" name="area" id="area">
                                {% for area in areas %}
                                <option value="{{ area.id }}" data-prefix="{{ area.phoned_prefix }}" {% if area.phoned_prefix == '+852' %} selected {% endif %}>
                                    {{ area.named }}({{ area.phoned_prefix }})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <div id="contact_msg"><label for="phoned" class="control-label">&nbsp;</label></div>
                            <input class="form-control" id="phoned" name="phoned" onchange="contactCheck()" placeholder="電話號碼">
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-lg col-sm-4">
                    <label for="named" class="control-label">接收者姓名：</label>
                    <input name="named" type="text" class="form-control" id="named" placeholder="姓名">
                    <div class="named-panel-wrapper">
                        <div class="named-panel-inner hand d-none" id="named_panel">
                            
                        </div>
                    </div>
                </div>
                <!-- Change col-sm-3 to the col-sm-4 即可一行4个变一行3个 -->
                <div class="form-group form-group-lg col-sm-12 mr-t-half">
                    <label for="category" class="control-label">選擇服務：</label>
                    <div class="row" id="category_gate">
                        {% for category in category_list %}
                        <div class="col-sm-3">
                            <h4 class="mr-t-main" style="font-weight: 400;">{{ category.named }}</h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group form-group-lg col-sm-12">
                    
                    <div id="sms_item_outter">
                        <div class="row">
                            {% if sms_template_list is not None %}
                                {% for sms_templates in sms_template_list %}
                                <div class="col-sm-3">
                                    {% if sms_templates %}
                                        <div class="item-wrapper">
                                        {% for sms in sms_templates %}
                                            <div class="item hand" id="item_{{ sms.id }}" onclick="chooseSms({{ sms.id }})">{{ sms.service.named }}</div>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        <p>暫無選項</p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-sm-4">
                                    <p>暫無選項</p>
                                </div>
                                <script>
                                    alert('暫無短信服務項目，無法新增短信任務！！！')
                                </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- No.2 -->
                
                <!-- div class="form-group form-group-lg">
                    <label for="task_status" class="col-sm-2 control-label">任務狀態：</label>
                    <div class="col-sm-10">
                        <div class="fl control-label" style="color: green;">等待提交</div>
                    </div>
                </div -->
                <div class="form-group form-group-lg  col-sm-12 mr-t-main">
                    <div class="flex-action">
                        <button type="button" class="btn btn-default btn-lg"  onClick="javascript:history.back(-1);">返回</button>
                        <h4 class="d-inline">or</h4>
                        <button type="button" class="btn btn-primary btn-lg" id="preview">下一步</button>
                    </div>
                </div>
                {% csrf_token %}
                <input type="hidden" name="sms_template" id="sms_template" />
                <input type="hidden" name="contact_key" id="contact_key">
                <input type="hidden" name="used" id="used" />
            </form>
        </div>
    </div>
</div>
<script>
    const url_contact = head + '{{ request.get_host }}/api/contact/'
    let namedList = []
    let nowKey = 0
    choiseNamed = function(index) {
        
        $('#named').val(namedList[index].first_named)

        $('#area').find('option').removeAttr('selected')
        $('#area').find('option[value="' + namedList[index].area.id + '"]').attr('selected', true)
        
        nowKey = namedList[index].id
        clearNamedPanel()
    }

    const named_panel = $('#named_panel')
    let named_panel_newer = false
    newerNamed = function(f = true) {
        named_panel_newer = f
        clearNamedPanel()
    }
    openNamedPanel = function(users) {
        named_panel.html('')
        $('#named').attr('disabled', true)
        
        for(let i= 0; i< users.length; i++ ) {
            const id = users[i].id
            const name = users[i].first_named
            
            named_panel.append('' +
                '<div class="named-panel-item sms-active-hover" onclick="choiseNamed(' + i + ')">'
                + users[i].first_named +
                '</div>'
            )
        }
        
        if (users.length > 0) {
            named_panel.append(
                '<div class="named-panel-item sms-active-hover text-main" onclick="newerNamed()">' +
                    '<span class="glyphicon glyphicon-plus-sign"></span> 為該號碼新增聯系人' +
                '</div>'
            )
            named_panel.addClass('br-ccc')
            named_panel.removeClass('d-none')
        }
        namedList = users
    }

    clearNamedPanel = function() {
        $('#named').attr('disabled', false)
        named_panel.fadeOut(400, function() {
            named_panel.html('')
            named_panel.removeClass('br-ccc')
            named_panel.fadeIn(200, function() {
                named_panel.addClass('d-none')
            })
        })
    }

    contactCheck = function() {
        const phoned = $('#phoned').val()
        const url = url_contact + '?phoned=' + phoned + '&status=True'
        $.ajax({
            url: url,
            type: 'GET',
            success: function(e) {
                try {
                    const the_id = e[0].id 
                    
                    // 老客戶
                    _contactOlder(false, e[0].first_named)

                    // 展开名字选择框
                    openNamedPanel(e)

                } catch(err) {
                    // 新客戶
                    _contactOlder(true)

                    newerNamed(false)
                }
            }, 
        })
    }
    _contactOlder = function(flag, named=null) {
        if (flag) {
            $('#contact_msg').html(
                '<label for="phoned" class="control-label" style="font-weight: 400; color: red">該號碼為新客戶</label>'
            )
        } else {
            $('#contact_msg').html(
                '<label for="phoned" class="control-label" style="font-weight: 400; color: green">該號碼為现有客戶</label>'
            )
        }
    }

    // 新增聯系人
    contactPlus = function() {
        const named = $('#named').val()
        const phoned = $('#phoned').val()
        const area = $('#area').children('option:selected').val()
        const url = url_contact

        const val_phoned = _valide_phone(phoned, area)
        if (val_phoned != true) {
            alert(val_phoned)
            return
        }

        let data = {
            'first_named': named,
            'phoned': phoned,
            'status': true,
            'area': area,
            'area_id': area,
            'gender': 0
        }
        
        _contactSame(url, phoned, data)
    }
    _contactSame = function (url, phoned, data) {

        $.ajax({
            url: url + '?phoned=' + phoned + '&status=True',
            type: 'GET',
            success: function(e) {
                if (named_panel_newer) {
                    _contactPlus(url, data)
                } else {
                    try {

                        const the_id = e[0].id
                        _contactUpdate(url, nowKey, data)

                    } catch(err) {
                        _contactPlus(url, data)
                    }
                }
                previewTask()
            }, 
            error: function(e) {
                alert('網絡錯誤！！！')
            }
        })
    }
    _contactPlus = function (url, data) {
        
        $.ajax({
            url: _root + '/contact/?option=add',
            data: data,
            type: 'POST',
            dataType: 'json',
            async: false,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
            },
            success: function(e) {
                
                $('#contact_key').val(e['instance']['id'])
            }
        })
    }
    _contactUpdate = function (url, the_id, data) {
        
        $.ajax({
            url: url + the_id + '/',
            data: data,
            type: 'PUT',
            dataType: 'json',
            async: false,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
            },
            success: function(e) {
                
                $('#contact_key').val(e['id'])
            }
        })
        
    }
</script>
<style>
    .named-panel-wrapper {
        width: 100%;
        display: block;
        position: relative;
    }
    .named-panel-newer {
        background: white;
    }
    .named-panel-inner,
    .named-panel-newer {
        width: 100%;
        position: absolute;
        display: block;
        border-radius: 6px;
        color: #555;
        overflow: hidden;
        z-index: 888;
    }
    .named-panel-item {
        padding: 10px 15px;
        background: white;
    }
    .named-panel-item:nth-child(2),
    .named-panel-item:nth-child(4),
    .named-panel-item:nth-child(6),
    .named-panel-item:nth-child(8) {
        background: #f7f7f7;
    }
    
    
    .text-light {
        color: #9e9e9e;
    }
.preview-title-row {
    background: #f5f5f5;
}
#preview_every_task .form-group {
    margin-bottom: 0px;
}
#preview_every_task .collapse {
    margin-bottom: 14px;
}
#preview_every_task form {
    margin-bottom: 1px;
}
.form-in-p {
    padding-top: 5px;
    padding-bottom: -7.5px;
}
.item-wrapper {
    height: auto !important;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
    color: #555;
    border-radius: 6px;
    overflow: hidden;
}
.item {
    padding: 15px 15px;
    border-top: 1px solid #eeeeee;
}
.item:hover {
    background: rgb(252, 252, 252);
}
#category_gate h4 {
    padding: 20px;
    border-radius: 6px;
    margin-top: 0px;
}
#sms_item_outter {
    margin-top: -10px;
}
@media screen and (min-width: 768px) {
    #sms_item_outter {
        margin-top: -25px;
    }
}
</style>
{% include 'record/task_preview.html' %}
{% include 'base/footer.html' %}
{% endblock center %}