{% extends 'base/base.html' %}
{% load staticfiles %}
{% block center %}
<meta http-equiv=refresh content="10;url=/email/">
{% include 'base/top.html' %}
{% include 'base/title.html' %}

<div class="container text-center">
    <div class="row">
        <div class="col-6">
            <h2>
                任務申請表填寫成功！！！
            </h2>
            <div class="space"></div>
            <h3>
                <a href>{{ wait_minute }}分鐘</a>后，首封邮件就会发出，之后邮件任务就会在后台生成任务队列
            </h3>
            <h4>
                註：已發送的邮件無法撤銷
            </h4>
            <div class="space"></div>
            <a class="btn btn-info btn-lg" role="button" href="/email/">
                確定
            </a>
            <div class="space"></div>
        </div>
    </div>
</div>
<script>
</script>
<style>
.space {
    height: 15px;
}
</style>
{% include 'base/footer.html' %}
{% endblock center %}

<!-- Css -->
{% block css %}
{% endblock css %}
<!-- Js -->
{% block js %}
{% endblock js %}