<!-- 更新 Modal -->
<div class="modal fade" tabindex="-1" id="email_task_modal" data-id="" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="row" id="form-submit" method="post" action="">
                    <div class="form-group form-group-lg col-sm-12">
                        <label for="option_visit_time" class="control-label">
                            到訪日子：
                            <span id="option_visit_time_laydate" class="glyphicon glyphicon-calendar hand text-info"></span>
                        </label>
                        <input class="form-control" id="option_visit_time" placeholder="到訪時間：">
                    </div>
                    <!-- div class="form-group form-group-lg col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="area" class="control-label">姓名：</label>
                                <input class="form-control" v-model="named" id="named" placeholder="姓名">
                            </div>
                            <div class="col-sm-6" id="email_label">
                                <label for="email" class="control-label">電郵：</label>
                                <input type="email" class="form-control" v-model="addr" id="email" placeholder="電郵地址">
                            </div>
                        </div>
                    </div -->
                    <div class="form-group form-group-lg col-sm-12">
                        <label for="work_status" class="control-label">作業控制：<span class="fs-14" id="work_status_label"></span></label>
                        <select class="form-control" id="work_status">
                            <option value="0">保持任務運行</option>
                            <option value="1">暫停該任務</option>
                        </select>
                    </div>
                    <div class="form-group form-group-lg col-sm-12">
                        <h4 class="d-inline"><small>暫停後的任務依然在序列化狀態，但郵件不會發送到接受者郵箱中，重啟後的任務，若未滿發送封數，會繼續運行，直到達到發送封數後任務完結。</small></h4>
                    </div>
                    <div class="form-group form-group-lg col-sm-12 text-right">
                        <div class="btn btn-default btn-lg" data-dismiss="modal">關閉</div>
                        <div class="btn btn-primary btn-lg" onclick="submitUpdate()">提交</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 查看詳情 -->
<div class="modal fade" tabindex="-1" id="see_more_modal" data-id="" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <table class="table table-bordered table-striped">
                    <thead>
                        <th colspan="2" class="text-center">
                            <h3>
                                郵件內容清單
                                <div class="btn btn-default fr" data-dismiss="modal">關閉</div>
                            </h3>
                        </th>
                    </thead>
                    <tbody id="more-content">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- OPTION -->
<script>
    
    laydate.render({
        elem: '#option_visit_time',
        lang: 'en',
        value: '',
        theme: '#46b8da',
        trigger: 'click',
        showBottom: false,
        eventElem: '#option_visit_time_laydate'
    });

    nperList = [
    {% for nr in nper %}
        {{ nr | safe }},
    {% endfor %}]

    _seeMore = function(ea) {
        const service = ea['email_template']['service']
        const subject = ea['email_template']['subject']
        const message = ea['email_template']['message']

        const time_rule = _ser_email_time_rule(ea['now_time_rule'])
        const now_index = ea['now_index']
        const named = ea['contact']['first_named']
        const addr = ea['contact']['email']
        let next_time = _ser_send_time(ea['next_time'], cn = true)

        let nper = ''
        let first_status = ''
        
        if (ea['now_time_rule'] != 0) {
            nper = '，' + _sel_nper(ea['nper'])
            first_status = '，' + _sel_first_status(ea['first_status'])
        }
        if (ea['over_status'] == true) {
            next_time = '<span class="complete">（任務已完結）</span>'
        }

        const html = '' +
            '<tr><td align="center" class="ea-td">服務名稱</td><td>' + service + '</td></tr>' +
            '<tr><td align="center">時間規則</td><td>' + time_rule + nper + first_status + '</td></tr>' +
            '<tr><td align="center">發出數量</td><td>' + now_index + ' 封，<span class="text-main hand" onclick="moreRecord(' + ea['id'] + ')">點擊查看更多記錄</span></td></tr>' +
            '<tr><td align="center">接收者</td><td><div class="reciver">' + named + ' &lt;' + addr + '&gt;</div></td></tr>' +
            '<tr><td align="center">郵件標題</td><td>' + subject + '</td></tr>' +
            '<tr><td align="center">郵件內容</td><td>' + message + '</td></tr>' +
            '<tr><td align="center">下一封的發送時間</td><td>' + next_time + '</td></tr>'
        return html
    }

    seeMore = function(id) {
        for(var i= 0; i< contact.length; i++ ) {
            const ea = contact[i]
            if (ea['id'] == id) {
                $('#more-content').html(_seeMore(ea))
                $('#see_more_modal').modal('show')
            }
        }
    }

    moreRecord = function(id) {
        location.href = '/email_collect/?option=more&id=' + id
    }

    submitUpdate = function() {
        const id = $('#email_task_modal').data('id')
        const visit_time = $('#option_visit_time').val()
        const work_status = $('#work_status').children('option:selected').val()

        $.ajax({
            url: _root + '/' + _api_name + '/?option=update',
            data: {
                'id': id,
                'send_status': work_status,
                'visit_time': visit_time,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'POST',
            headers: {
                Accept: "application/json; charset=utf-8",
            },
            success: function(e) {
                if (e['status']) {
                    alert('修改成功！！！')
                    location.reload()
                }
            },
            error: function(e) {
                alert('修改失敗！！！請重試')
            }
        })
    }
</script>

<style>
    table {
        width: 100% !important;
    }
</style>
