{% extends '../index.html' %}
{% load staticfiles %}
{% block data %}

<script  type="text/javascript" src="{% static 'vue.min.js' %}"></script>
<!-- 初始化 -->
<script>
    const _limit = 15
    const _offset = 0
    const _api_name = 'email_apply'
    const _url = _root + '/api/'

    let conditions = {
        'page': {
            'count': 0,
            'limit': _limit,
            'offset': _offset,

            'next': '',
            'previous': ''
        },
        'filter': {
            'ordering': {
                'res': '-add_time',
                'val': 0
            },
            'time_rule': {
                'res': '',
                'val': 0
            },
            'send_status': {
                'res': '',
                'val': 0
            },
            'visit_time': {
                'start_visit': '',
                'end_visit': '',
                'val': 0
            },
            'category': {
                'res': '',
                'val': 0
            }
        }
    }

    let contact = []

    _build_url = function(offset) {
        const filter = conditions['filter']
        const page = conditions['page']

        const res = _url + _api_name + '/?format=json&status=True' +
            '&limit=' + page['limit'] + 
            '&offset=' + offset +
            '&time_rule=' + filter['time_rule']['res'] + 
            '&send_status=' + filter['send_status']['res'] + 
            '&category=' + filter['category']['res'] + 
            '&start_visit=' + filter['visit_time']['start_visit'] + 
            '&end_visit=' + filter['visit_time']['end_visit'] + 
            '&ordering=' + filter['ordering']['res']

        return res
    }

    _build_html = function(res) {

    let dataDom = $('#every_email-content')
    contact = []
    dataDom.html('')
    
    $.each(res, function(index, item) {
        
        const id = item['id']
        const addr = item['contact']['email']
        const named = item['contact']['first_named']
        // const now_index = item['now_index']
        const time_rule = item['time_rule']
        const visit_time = item['visit_time']

        const send_status = item['send_status']
        const over_status = item['over_status']
        const apply_status = item['apply_status']
        // const add_time = item['add_time']
        const service = item['email_template']['service']

        const can = _ser_email_can(apply_status, send_status, over_status)
        const next_time = _ser_send_time(item['next_time'], cn = true)

        const html = '' +
            '<tr id="tr_' + id + '">' +
            '    <td><h4>' + _ser_send_time(visit_time, cn=true, short=true) + '</h4></td>' +
            '    <td><h4>' + service + '</h4></td>' +
            '    <td>' +
            '        ' + named + '<br/>' + addr +
            '    </td>' +
            // '    <td align="center"><h4>' + _ser_email_time_rule(time_rule) + '</h4></td>' +
            '    <td align="center"><h4>' + _ser_email_status(apply_status, send_status, over_status) + '</h4></td>' +
            '    <td align="center"><a class="hand" onclick="seeMore(' + id + ')"><h4>查看</h4></a></td>' +
            '    <td align="center"><h4>' +
            '        <span onclick="update(' + id + ', ' + can + ')" class="glyphicon glyphicon-pencil hand text-main"></span>' +
            '        <span onclick="sureTrash(' + id + ')" class="glyphicon glyphicon-trash hand text-main"></span>' +
            '    </h4></td>' +
            '</tr>'

        contact.push(item)
        dataDom.append(html)
    })
    }

    Array.prototype.remove = function(val) { 
        var index = this.indexOf(val); 
        if (index > -1) { 
            this.splice(index, 1); 
        } 
    };
</script>

<!-- 過濾器 -->
<div class="collapse" id="filterTool">
    <div class="well">
        <div class="row">
            <div class="col-sm-3">
                <select class="w-100 form-control filter-select" id="filter_category">
                    <option value="0">-- 全部分類 --</option>
                    {% for cate in category %}
                    <option value="{{ cate.id }}">
                        {{ cate.named }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <select class="w-100 form-control filter-select" id="filter_ordering">
                    <option value="0">順序排序</option>
                    <option value="1">逆序排序</option>
                </select>
            </div>
            <div class="col-sm-4">
                <div class="two-input-group">
                    <input type="text" class="from-control start-age" id="start_visit">
                    <span class="">至</span>
                    <input type="text" class="from-control end-age" id="end_visit">
                    <div>到訪</div>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <button class="btn btn-default " onclick="clearFilter()">恢復</button>
                <button class="btn btn-primary " onclick="filterManager()">過濾</button>
            </div>
        </div>
    </div>
</div>

<!-- TABLE -->
<div class="data-wrapper def-border table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <h4>到訪時間<span id="countMsg"></span></h4>
                </td>
                <td>
                    <h4>所屬服務</h4>
                </td>
                <td>
                    <h4>接收者</h4>
                </td>
                <td align="center">
                    <h4>作業狀態</h4>
                </td>
                <td align="center">
                    <h4>內容詳情</h4>
                </td>
                <td align="center">
                    <h4>操作</h4>
                </td>
            </tr>
        </thead>
        <tbody class="tab-content" id="every_email-content">
            
        </tbody>
    </table>
</div>
<nav aria-label="...">
    <ul class="pager">
        <li class="next">
            <a href="#" id="next" onclick="loadData(true)">
                下一頁 <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        <li class="fr">
            <h5 id="pageMsg"></h5>
        </li>
        <li class="previous fr">
            <a href="#" class="disable" id="previous" onclick="loadData(false)">
                <span aria-hidden="true">&larr;</span> 上一頁
            </a>
        </li>
    </ul>
</nav>

<!-- 加載數據 -->
<script>

    _change_page_msg = function(offset, count) {
        if (count <= 0) {
            count = 0
        }
        $('#countMsg').html('(' + count + ')')
    }

    _loadData = function(url) {
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function(e) {
                
                // 渲染數據
                _build_html(e['results'])

                // 更改 Page
                var previous = e['previous']
                var next = e['next']
                var count = e['count']

                // 增加 首頁 末頁 功能
                if (previous == null) {
                    previous = _build_url(Math.floor(count / _limit) * _limit)
                    conditions['page']['offset'] = _offset
                }
                if (next == null) {
                    next = _build_url(_offset)
                    conditions['page']['offset'] = Math.floor(count / _limit) * _limit
                }

                // 賦值
                conditions['page']['previous'] = previous
                conditions['page']['next'] = next
                conditions['page']['count'] = count

                // 展示 頁數
                let text = (Math.floor(conditions['page']['offset'] / _limit) + 1) + '/' + Math.abs(Math.ceil(count / _limit))
                $('#pageMsg').html(text)

                _change_page_msg(conditions['page']['offset'], count)
            },
            error: function(e) {
                alert('暫無更新！！！')
            }
        })
    }

    loadData = function(n_or_p) {
        if (n_or_p) {
            conditions['page']['offset'] += _limit
            _loadData(conditions['page']['next'])
        } else {
            conditions['page']['offset'] -= _limit
            _loadData(conditions['page']['previous'])
        }
    }

    _loadData(_build_url(conditions['page']['offset']))

    sureTrash = function(id) {
        window.event? window.event.cancelBubble = true : e.stopPropagation();
        var flag = confirm("確認要刪除嗎？");
        if (flag) {
            $.ajax({
                url: _root + '/' + _api_name + '/?option=trash',
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'POST',
                headers: {
                    Accept: "application/json; charset=utf-8",
                },
                success: function(e) {
                    const instance = e['instance']
                    $('#tr_' + id).addClass('danger')
                    $('#tr_' + id).fadeOut(1200, function() {

                        alert('' + instance['named'] +
                            '<' + instance['addr'] + '> 的（' + 
                                instance['service'] +
                            '）任務已刪除，可聯系工作人員恢復！' 
                        )
                    })
                    _change_page_msg(conditions['page']['offset'], (conditions['page']['count'] - 1))
                },
                error: function(e) {
                    alert('刪除失敗！！！請重試')
                }
            })
        }
    }

    update = function(id, can) {
        if (can) {
            $('#email_task_modal').data('id', id)
            for (var i= 0; i< contact.length; i++ ) {
                const e = contact[i]
                if (e['id'] == id) {
                    $('#option_visit_time').val(e['visit_time'])
                    if (e['send_status']) {
                        $('#work_status_label').html(
                            '<span class="success">（任務運行中）</span>'
                        )
                        $('#work_status option[value=0]').attr('selected', true)
                    } else {
                        $('#work_status_label').html(
                            '<span class="red">（任務已停止）</span>'
                        )
                        $('#work_status option[value=1]').attr('selected', true)
                    }

                    if (e['over_status']) {
                        $('#work_status_label').html(
                            '<span class="apply">（任務已完結，無需操作）</span>'
                        )
                    }
                }
            }
            $('#email_task_modal').modal('show')
        } else {
            alert('為了不影響任務隊列的正常運行，序列化完畢後才可編輯。')
        }
    }

</script>
<!-- 過濾 -->
<script>

    optionFilter = function(f) {
        if (f) {
            $('#filterTool').collapse('hide')
        } else {
            $('#filterTool').collapse('show')
        }
    }
    optionFilter(false)

    clearFilter = function() {
        location.reload()
    }
    const startVisit = '2020-01-01'
    const endVisit = _now()
    filterManager = function() {
        const cate = $('#filter_category').find('option:selected').val()
        const ordering = $('#filter_ordering').find('option:selected').val()

        /*
        let start_age = $('#start_age').val()
        let end_age = $('#end_age').val()
        */
        let start_visit = $('#start_visit').val()
        let end_visit = $('#end_visit').val()

        conditions['filter']['category'] = {
            'res': cate==0?'':cate,
            'val': cate
        }
        conditions['filter']['ordering'] = {
            'res': ordering==0?'-add_time':'add_time',
            'val': ordering
        }
        conditions['filter']['visit_time'] = {
            'start_visit': start_visit==startVisit?'':start_visit,
            'end_visit': end_visit==endVisit?'':end_visit,
            'val': 0
        }
        
        _loadData(_build_url(_offset))
    }

    laydate.render({
        elem: '#start_visit',
        lang: 'en',
        theme: '#46b8da',
        trigger: 'click',
        value: startVisit,
        showBottom: false
    });
    laydate.render({
        elem: '#end_visit',
        lang: 'en',
        theme: '#46b8da',
        trigger: 'click',
        value: endVisit,
        showBottom: false
    });
</script>
<div id="app">
    {% include 'email/email_task_option.html' %}
</div>

{% endblock data %}