{% extends '../index.html' %}
{% load staticfiles %}
{% block data %}

<div id="app" class="">
    <form class="form text-left">
        <div class="row">
            <div class="form-group form-group-lg col-sm-3">
                <label for="timeRule" class="control-label">
                    到訪時間
                    <span id="visit_time_laydate" class="glyphicon glyphicon-calendar hand txt-sky"></span>
                </label>
                <input type="text" id="visit_time" class="form-control" placeholder="年-月-日">
            </div>
            <div class="form-group form-group-lg col-sm-3">
                <label for="new_time_rule" class="control-label">
                    循環發出間隔：
                </label>
                <select class="form-control" id="new_time_rule" onchange="newTimeRule()">
                    {% for tr in time_rule %}
                    <option value="{{ tr.val }}">{{ tr.txt }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group form-group-lg col-sm-3">
                <label for="new_nper" class="control-label">
                    總發出數限制：
                </label>
                <select class="form-control" id="new_nper">
                    {% for nr in nper %}
                    <option value="{{ nr.val }}">{{ nr.txt }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group form-group-lg col-sm-3">
                
                <label class="control-label">首封發出？：</label>
                <div class="">
                    <input class="first-checkbox d-inline" type="checkbox" checked id="new_first_status">
                    <h4 class="d-inline"><small>（首封發出是任務生效後立即發出，當時間規則非一次性時該選項才供開放）</small></h4>
                </div>
                    
            </div>
        </div>

        <div class="form-group form-group-lg">
            <label for="timeRule" class="control-label">選擇服務</label>
            <div class="row category-gate" id="email_template-shower">
                
            </div>
            <input type="hidden" id="email_template">
        </div>

        <div class="form-group form-group-lg">
            <label for="timeRule" class="control-label">接收者</label>
            <div class="recivers" id="reciver_list">
                
            </div>
        </div>
    </form>
    <div class="flex-action">
        <button type="button" class="btn btn-default btn-lg"  onClick="javascript:history.back(-1);">返回</button>
        <h4 class="d-inline">or</h4>
        <button type="button" class="btn btn-primary btn-lg" onclick="validate()">下一步</button>
    </div>
    
</div>
<!-- Loading -->
<div class="modal" tabindex="-1" id="tasker_loading" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg text-center" role="document" data-backdrop="static">
        <h3 class="text-white loading"><div><span class="glyphicon glyphicon-refresh"></span></div></h3>
        <br/>
        <p class="mr-t-main text-white">運行中，僅需幾秒，請耐心等待。</p>
    </div>
</div>

<!-- /.modal-content -->
<div class="modal fade" tabindex="-1" id="preview_modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button -->
                <h2 class="modal-title d-inline">電郵任務審核單</h2>

                <button type="button" class="btn btn-primary btn-lg fr mr-l-half" id="submit">確認提交</button>
                <button type="button" class="btn btn-default btn-lg fr" data-dismiss="modal">返回更改</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">接收人数：</label>
                        <div class="col-sm-9">
                            <div class="text-main mr-t-half"><h2 class="d-inline" id="preview_person"></h2> 人</div>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">時間規則：</label>
                        <div class="col-sm-9">
                            <h4 class="form-in-p" id="preview_time_rule"></h4>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">到访时间：</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="preview_visit_time">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">所選服務：</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="preview_service">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">电邮标题：</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="preview_subject">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 數據加載 -->
<script>
    let recivers = []
    let contact = []
    const _url = _root + '/api/'

    const nperList = [
    {% for nr in nper %}
        {{ nr | safe }},
    {% endfor %}]

    const reciver_list = $('#reciver_list')

    loadRecivers = function(id, named, email) {
        reciver_list.html('')
        const tasker = eval(sessionStorage.getItem('email_tasker'))

        if (tasker.length <= 0) {
            alert('已選擇的聯系人數量為“0”。')
            history.back()
        }

        for(var i= 0; i< tasker.length; i ++) {
            const item = tasker[i]
            const id = item['id']
            const named = item['first_named']
            const email = item['email']

            if (email) {

                const html = '' +
                    '    <div class="reciver" data-active="true" id="reciver_' + id + '">' +
                    '        ' + named + ' &lt;' + email + '&gt; &nbsp; ' +
                    '        <span class="glyphicon glyphicon-remove hand del" onclick="delRevicer(' + id + ')"></span>' +
                    '    </div>'

                recivers.push(id)
                contact.push({
                    'id': id,
                    'addr': email,
                    'named': named
                })
                reciver_list.append(html)
            }
        }
    }
    loadRecivers()
    
    laydate.render({
        elem: '#visit_time',
        lang: 'en',
        theme: '#46b8da',
        eventElem: '#visit_time_laydate',
        trigger: 'click',
        value: _now(),
        showBottom: false,
        done: function(value, date){
            
        }
    });

    const email_template_list = eval({{ email_template_list|safe }});
    loadTemplate = function() {

        $('#email_template-shower').html('')
        for (var i= 0; i< email_template_list.length; i++ ) {
            const category = email_template_list[i]['k']
            const ets = email_template_list[i]['v']
            
            let serviceHtml = ''
            
            if (i != 0) { serviceHtml = '<div class="col-sm-4 mt-mobie">' } else { serviceHtml = '<div class="col-sm-4">' }
            
            serviceHtml += '    <h4 class="mr-t-main" style="font-weight: 400; margin-bottom: 0px;">' + category + '</h4>' 

            for(var j= 0; j< ets.length; j++ ) {
                const id = ets[j]['id']
                const named = ets[j]['service']
                const time_rule = ets[j]['time_rule']

                serviceHtml +=
                    '<div class="item-outter">' +
                    '    <div class="item-wrapper">' +
                    '        <div class="item hand" data-timerule="' + time_rule + '" id="item_' + id + '" onclick="chooseSms(' + id + ')">' + named + '</div>' +
                    '    </div>' +
                    '</div>'
            }
            serviceHtml += '</div>'
            $('#email_template-shower').append(serviceHtml)
        }
    }
    loadTemplate()

    Array.prototype.remove = function(val) { 
        var index = this.indexOf(val); 
        if (index > -1) { 
            this.splice(index, 1); 
        } 
    };

    loading = function(f = true) {
        if (f) {
            $('#tasker_loading').modal('show')
        } else {
            $('#tasker_loading').modal('hide')
        }
    }
</script>
<!-- 數據操作 -->
<script>
    let oldId = 0
    let idList = []
    _activeSms = function(id, old_id, cls_name = 'sms-active') {
        $('#item_' + id).addClass(cls_name)
        $('#item_' + old_id).removeClass(cls_name)
    }
    chooseSms = function(id) {
        if (id != oldId) {
            _activeSms(id, oldId)
        }
        oldId = id
        $('#email_template').val(id)
        $('#time_rule').val($('#item_' + id).data('timerule'))
    }

    delRevicer = function(id) {
        const f = $('#reciver_' + id).data('active')
        if (f) {
            recivers.remove(id)
            $('#reciver_' + id).addClass('reciver-hui')
            $('#reciver_' + id +' span').removeClass('glyphicon-remove')
            $('#reciver_' + id +' span').removeClass('error')
            $('#reciver_' + id +' span').addClass('glyphicon-plus')
        } else {
            recivers.push(id)
            $('#reciver_' + id).removeClass('reciver-hui')
            $('#reciver_' + id +' span').addClass('glyphicon-remove')
            $('#reciver_' + id +' span').addClass('error')
            $('#reciver_' + id +' span').removeClass('glyphicon-plus')
        }
        $('#reciver_' + id).data('active', !f)
    }
    _success = function (res) {
        
        const _url = _root + '/email_apply/?option=status&success=' + res + '&count=' + res
        
        location.href = _url
    }
    _submit = function () {
        const rcs = idList

        let id_rec = []
        for (let i= 0; i< rcs.length; i++ ) {
            const id = rcs[i]['id']
            id_rec.push(id)
        }
        
        const data = {
            'ids': id_rec.toString(),
            'visit_time': $('#visit_time').val(),
            'newer': false,
            'email_template': $('#email_template').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'nper': $('#new_nper').find('option:selected').val(),
            'first_status': $('#new_first_status').prop('checked'),
            'time_rule': $('#new_time_rule').find('option:selected').val()
        }
        
        $.ajax({
            url: _root + '/email_apply/?option=tasker',
            data: data,
            type: 'POST',
            headers: {
                Accept: "application/json; charset=utf-8",
            },
            success: function(e) {
                const status = e['status']
                loading(false)
                if ((status == 'True') || (status == 'true') || (status == true)) {
                    const res = e['numed']
                    _success(res)
                } else {
                    alert('任務提交時出現些差錯，麻煩請檢查壹下任務是否已提交。')
                }
            },
            error: function(e) {
                alert('網絡故障。')
            }
        })

    }
    validate = function () {
        const et_id = $('#email_template').val()
        let rcs = []
        for (var i= 0; i< contact.length; i++ ) {
            const item = contact[i]
            for (var j= 0; j< recivers.length; j++ ) {
                if (recivers[j] == item['id']) {
                    rcs.push(item)
                }
            }
        }
        const visit_time = $('#visit_time').val()

        if ((et_id == null) || (et_id == '' ) || (et_id == undefined)) {
            alert('請選擇壹個服務項目！！！')
            return
        }
        if ((rcs == []) || (rcs == null) || (rcs == undefined)) {
            alert('未有接收者，請點亮至少壹位接收者！！！')
            return
        }
        if ((visit_time == null) || (visit_time == '' ) || (visit_time == undefined)) {
            alert('請選擇壹個拜訪時間！！！')
            return
        }
        

        if ((rcs.length == 0) || (rcs == null)) {
            alert('檢測到零個接收者。')
            return
        }

        idList = rcs

        priview()
    }

    priview = function() {
        const visit_time = $('#visit_time').val()
        const nper = $('#new_nper').find('option:selected').val()
        const first_status = $('#new_first_status').prop('checked')
        const time_rule = $('#new_time_rule').find('option:selected').val()

        const ea = $('#email_template').val()
        
        $.ajax({
            url: _url + 'email_template/' + ea,
            type: 'GET',
            success: function(e) {
                $('#preview_service').val(
                    e['service']
                )
                $('#preview_subject').val(
                    e['subject']
                )
            }
        })

        $('#preview_visit_time').val(
            _ser_send_time(visit_time, true, true)
        ) 
        $('#preview_time_rule').html(
            _ser_email_time_rule(time_rule) + ', ' + _sel_nper(nper) + ', ' + _sel_first_status(first_status)
        )
        $('#preview_person').html(
            idList.length + ''
        )
        
        $('#preview_modal').modal('show')
    }
    
    $('#submit').click(function () {
        if (confirm('妳確定要提交嗎？')) {
            $('#preview_modal').modal('hide')
            loading(true)
            _submit()
        }
    })

    newTimeRule = function() {
        const ntr = $('#new_time_rule').find('option:selected').val()
        if ((ntr == 0) || (ntr == '0')) {
            // 首封
            $('#new_first_status').attr('checked', true)
            $('#new_first_status').prop("checked", true)
            $('#new_first_status').attr('disabled', true)

            // 数量
            $('#new_nper').find('option').removeAttr('selected')
            $('#new_nper').find('option[value="1"]').attr('selected', true)
            $('#new_nper').find('option[value=1]').attr('selected', true)
            $('#new_nper').attr('disabled', true)
        } else {
            // 首封
            $('#new_first_status').attr('disabled', false)

            // 数量
            $('#new_nper').attr('disabled', false)
        }
    }
    $('#new_nper').find('option[value="0"]').attr('selected', true)

    newTimeRule()
</script>

<style>
    .radio {
        display: inline;
        margin-right: 12px;
    }
    .emailer .item a,
    .emailer .item p {
        margin-top: 6px;
    }
.item-wrapper {
    height: auto !important;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
    color: #555;
    border-radius: 6px;
    overflow: hidden;
}
.item {
    padding: 15px 15px;
    border-top: 1px solid #eeeeee;
}
.item:hover {
    background: rgb(252, 252, 252);
}
.category-gate h4 {
    padding: 20px;
    border-radius: 6px;
    margin-top: 0px;
}
.category-gate > div:nth-child(1) > h4 {
    background: lightgreen;
}
.category-gate > div:nth-child(2) > h4 {
    background: lightblue;
}
.category-gate > div:nth-child(3) > h4 {
    background: pink;
}
@media screen and (min-width: 768px) {
    .item-outter {
        
    }
}
</style>
{% endblock data %}