<!-- /.modal-content -->
<div class="modal fade" tabindex="-1" id="preview_modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button -->
                <h1 class="modal-title d-inline">郵件服務審核單</h1>

                <button type="button" class="btn btn-primary btn-lg fr mr-l-half" id="submit">立即提交</button>
                <button type="button" class="btn btn-default btn-lg fr" data-dismiss="modal">返回更改</button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">
                    任務信息
                </h3>
                <hr/>
                <form class="form-horizontal">
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">接收者：</label>
                        <div class="col-sm-9">
                            <div class="reciver reciver-lg">
                                <div class="d-inline" id="preview_named"></div>
                                &nbsp;&lt;
                                <div class="d-inline" id="preview_email"></div>
                                &gt;&nbsp; 
                                <!-- span class="glyphicon glyphicon-remove hand error"></span -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">發出者：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" disabled value="{{ reply }}">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">服務項目：</label>
                        <div class="col-sm-9">
                            <input type="text" value="個人化漸進鏡" disabled class="form-control" id="preview_service">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">時間規則：</label>
                        <div class="col-sm-3">
                            <!-- a href="#"><h4 id="preview_time_rule d-none" class="form-in-p"></h4>
                            </a -->
                            <select class="form-control" id="new_time_rule" onchange="newTimeRule()">
                                {% for tr in time_rule %}
                                <option value="{{ tr.val }}">{{ tr.txt }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-sm-3 control-label">寄出數量：</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="new_nper">
                                {% for nr in nper %}
                                <option value="{{ nr.val }}">{{ nr.txt }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-lg collapse" id="first_collapse">
                        
                        <label class="col-sm-3 control-label">首封發出？：</label>
                        <div class="col-sm-9">
                            <input class="first-checkbox d-inline" type="checkbox" checked id="new_first_status">
                            <h4 class="d-inline"><small>（首封發出是任務生效後立即發出，當時間規則非一次性時該選項才供開放）</small></h4>
                        </div>
                            
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label">到訪時間：</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="preview_visit_time">
                        </div>
                    </div>
                </form>
                <!--
                <div style="height: 30px;" class="text-right">
                    <a class="fs-14 mr-t-main hand"
                        data-toggle="collapse" data-target="#collspse_preview" aria-expanded="false" aria-controls="collspse_preview"
                        >
                        <i>電郵內容明細?</i>
                    </a>
                </div>
                <div class="collapse in" id="collspse_preview">
                        <form class="form-horizontal">
                            <div class="form-group form-group-lg">
                                <label class="col-sm-3 control-label">電郵標題：</label>
                                <div class="col-sm-9">
                                    <input type="text" value="" class="form-control" disabled id="preview_subject">
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <label class="col-sm-3 control-label">電郵內容：</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="6" disabled id="preview_message"></textarea>
                                </div>
                            </div>
                        </form>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<script>
    $('#submit').on('click', function() {
        $('#nper').val(
            $('#new_nper').find('option:selected').val()
        )
        $('#time_rule').val(
            $('#new_time_rule').find('option:selected').val()
        )
        $('#first_status').val(
            $('#new_first_status').prop('checked')
        )

        $('#submitTask').click()
    })
    $('#collspse_preview').collapse('hide')
    $('#first_collapse').collapse('show')

    newTimeRule = function() {
        const ntr = $('#new_time_rule').find('option:selected').val()
        if ((ntr == 0) || (ntr == '0')) {
            // 首封
            $('#new_first_status').attr('checked', true)
            $('#new_first_status').prop("checked", true)
            $('#new_first_status').attr('disabled', true)

            // 数量
            $('#new_nper').find('option').removeAttr('selected')
            $('#new_nper').find('option[value="1"]').attr('selected', true)
            $('#new_nper').attr('disabled', true)
        } else {
            // 首封
            $('#new_first_status').attr('disabled', false)

            // 数量
            $('#new_nper').attr('disabled', false)
        }
    }
    newTimeRule()
    $('#new_nper').find('option[value="0"]').attr('selected', true)
</script>
<style>
    .first-checkbox {
        margin-top: 15px !important;
        border-radius: 2px !important;
    }
</style>