{% load staticfiles %}
<div class="title-boss">
    <div class="title-bar title-bg-img">
        <div class="container-fluid"></div>
    </div>
    <div class="title-bar">
        <div class="container-fluid">
            <div class="title-wrapper">
                <h1>首頁</h1>
                <h4 class="text-white-half">
                    <span onclick="goIndex()" class="hand text-white-hr">任務管理系統</span> > <span onclick="goIndex()" class="hand text-white-hr">首頁</span> > 
                    {% if page_flag == 'task' %}<a class="d-inline text-white-half text-white-hr a" href="/task/">短信任務</a>
                    {% elif page_flag == 'sms_template' %}短信模版表 
                    {% elif page_flag == 'every_task' %}預定執行的任務隊列表
                    {% elif page_flag == 'every_task_done' %}已完成的任務隊列表
                    {% elif page_flag == 'sms_task_record' %}短信發送完成記錄表 
                    {% elif page_flag == 'service' %}瀏覽服務項 
                    {% elif page_flag == 'contact' %}<a class="d-inline text-white-half text-white-hr a" href="/contact/">聯絡人</a>
                    {% elif page_flag == 'other' %}<a class="d-inline text-white-half text-white-hr a" href="/other/">其他</a>
                    {% elif page_flag == 'task_collect' %}短信申請記錄
                    {% elif page_flag == 'email' %}<a class="d-inline text-white-half text-white-hr a" href="/email/">電郵任務</a>
                    {% elif page_flag == 'email_template' %}<a class="d-inline text-white-half text-white-hr a" href="/email_template/">電郵模版</a>
                    {% elif page_flag == 'email_collect' %}電郵發送記錄
                    {% elif page_flag == 'library' %}媒體庫
                    {% endif %}
                    {% if page_flag_sub == 'task_add' %} > 申請操作  
                    {% elif page_flag_sub == 'email_add' %} > 申請操作  
                    {% elif page_flag_sub == 'email_template_add' %} > 申請操作  
                    {% elif page_flag_sub == 'email_template_update' %} > 修改操作  
                    {% elif page_flag_sub == 'task_add_success' %} > 表格填寫完成
                    {% elif page_flag_sub == 'contact_tasker' %} > 新增任務
                    {% endif %}
                </h4>

                <div class="fun-bar">
                    <div class="fr" onclick="reLoad()">
                        <h4>
                            <span class="glyphicon glyphicon-refresh"></span>
                            刷新
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.fun-bar {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.fun-bar:hover {
    color: white;
}
.title-boss {
    position: relative;
    height: 150px;
}
.title-bar {
    width: 100%;
    height: 150px;
    padding: 15px 0px;
    position: absolute;
}
.title-bg-img {
    background: url('{% static "Common/Banner/default.jpg" %}');
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);

}
.title-wrapper {
    color: white;
}
            
</style>