
{% load staticfiles %}
<div class="top-bar">
    <div class="container">
        <div class="fl hand" onclick="goIndex()">
            <img class="logo" src="{% static '/Common/Logo/' %}{{ request.session.company }}.jpg" />
        </div>
        <div class="login-out fr">
            <h4 class="fw-400">需要&nbsp;&nbsp;<a href="/login-out/">登出</a>？</h4>
        </div>
        <div class="name fr">
            <h4 class="fw-400">歡迎&nbsp;&nbsp;<a href="#">{{ request.session.user }}</a>，</h4>
        </div>
    </div>
</div>
<script>
    goIndex = function() {
        location.href = '/'
    }
    goBack = function() {
        history.back()
    }
    reLoad = function() {
        location.reload()
    }
</script>
<style>
.top-bar {
    height: 45px;
    background: rgba(255, 255, 255, 1);
    
    width: 100%;
    display: block;
}
.top-bar > div {
    padding-top: 3px;
}
.logo {
    overflow: hidden;
    height: 60px;
    margin-top: -8px;
}
.logo img {
    height: 100%;
    width: auto;
}
.name {
    margin-top: 0px;
}
.login-out {
    margin-top: 0px;
}
</style>