/*
    Primary Color
    337ab7
    23527c
*/

.star,
.text-main,
.active span,
.co-main-hover:hover 
{
    color: #0a6ba3;
}
.text-main:hover {
    color: #2980b9;
}

.bg-blue,
.page-active,
.page-active a,
.sms-active
{
    background: #0a6ba3;
}
.sms-active:hover,
.sms-active-hover:hover {
    background: #2980b9 !important;
}

.br-main-hover:hover {
    border-color: #0a6ba3;
}
.sms-active {
    border-color: #2980b9;
}

.glyphicon-pencil {
    color: #0a6ba3 !important
}
.glyphicon-trash {
    color: #0a6ba3 !important
}
/*
*/
#previous:hover,
#next:hover {
    background: #fcfdff !important;
    border-color: #0a6ba3;
}

/*
    元素
*/
.def-border {
    border-color: #eeeeee;
}

.bg-main {
    background: #23282d;
}

.text-info {
    color: #0fad12 !important;
}
.text-info:hover {
    color: #128d14 !important;
}
.form-tip {
    color: #e74c3c;
}

#pageMsg {
    color: #9e9e9e;
}
#countMsg {
    color: #772717;
}

/*
    激活
*/
.active {
    background: #f9f9f9;
}
.active:hover {
    background: #f9f9f9;
}

.page-icon:hover {
    background-color: white !important;
    color: #286090 !important;
    border-color: #286090 !important;
}

.reciver {
    color: #f39c12;
    border-color: #f39c12;
    transition: all .5s;
}
.reciver:hover {
    color: #e67e22;
    border-color: #e67e22;
}
.reciver-hui {
    color: rgb(168, 168, 168) !important;
    border-color: rgb(168, 168, 168) !important;
}


.star-active {
    color: #f1c40f;
    background-color: linear-gradient(to bottom right, #f1c40f, #f39c12);
}

/* 
    状态
*/
.thin {
    color: #9a9a9a !important;
}
.thin:hover {
    color: #8e8e8e !important;
}
.success {
    color: rgb(54, 149, 59);
}
.success:hover {
    color: #3b7c3e;
}
.error {
    color: rgb(180, 63, 45) !important;
}
.error:hover {
    color: rgb(173, 48, 34);
}
.apply {
    color: #696969de;
}
.apply:hover {
    color: #7a7a7ade;
}
.complete {
    color: #e0ba30;
}
.complete:hover {
    color: #e3ba26;
}
.red {
    color: #e74c3c;
}
.red:hover {
    color: #c0392b;
}

.del {
    color: #df8382;
}
.del:hover {
    color: #95a5a6;
}

.del,
.red,
.error,
.apply,
.success,
.complete {
    transition: all .4s;
}


/*
    Category Panel
*/
#category_gate > div {
    color: white !important;
}
#category_gate > div:nth-child(1) > h4 {
    background: lightgreen;
}
#category_gate > div:nth-child(2) > h4 {
    background: lightblue;
}
#category_gate > div:nth-child(3) > h4 {
    background: pink;
}
#category_gate > div:nth-child(4) > h4 {
    background: SandyBrown;
}

#previous,
#next {
    transition: all .3s;
}