{% extends '../index.html' %}
{% load staticfiles %}
{% block data %}
<!-- 初始化 -->
<script>
    let _limit = vGet('limit_contact')
    
    if (_limit == null) {
        _limit = 20
    }
    _limit = parseInt(_limit)
    
    // const _limit = 50
    const _offset = 0
    const _api_name = 'contact'
    const _url = _root + '/api/'

    let conditions = {
        'page': {
            'count': 0,
            'limit': _limit,
            'offset': _offset,

            'next': '',
            'previous': ''
        },
        'filter': {
            'ordering': {
                'res': '-add_time',
                'val': 0
            },
            'filter_status': {
                'res': '',
                'val': 0
            },
            'area': {
                'res': '',
                'val': 0
            },
            'star': {
                'res': '',
                'val': 0
            },
            'gender': {
                'res': '',
                'val': ''
            },
            'tag': {
                'res': '',
                'val': 0
            },
            'bith': {
                'start_bith': _age_num(0),
                'end_bith': _age_num(150),
                'val': 0,
                'age_f': false
            },
            'search': {
                'res': '',
                'flag': ''
            }
        }
    }

    let contact = []

    _build_url = function(offset) {
        
        const filter = conditions['filter']
        const page = conditions['page']

        const res = _url + _api_name + '/?format=json&status=True' +
            '&offset=' + parseInt(offset) +
            '&limit=' + page['limit'] + 

            '&area=' + filter['area']['res'] +
            '&star=' + filter['star']['res'] +
            '&gender=' + filter['gender']['res'] +
            '&filter_status=' + filter['filter_status']['res'] +
            '&filter_tag=' + filter['tag']['res'] +
            '&start_birth=' + filter['bith']['start_bith'] +
            '&end_birth=' + filter['bith']['end_bith'] +
            '&age_f=' + filter['bith']['age_f'] +
            '&search=' + filter['search']['res'] +
            '&search_flag=' + filter['search']['flag'] +
            '&ordering=' + filter['ordering']['res']
        
        return res
    }

    _build_html = function(res) {

        let dataDom = $('#contact_content')
        contact = []
        dataDom.html('')
        $.each(res, function(index, item) {

            const id = item['id']
            const area = item['area']
            const star = item['star']
            const bith = item['bith']
            let email = item['email']
            const gender = item['gender']
            const phone = item['phoned']
            const add_time = item['add_time']
            const first_named = item['first_named']
            
            if (email == null) { email = '' }
            let phoned = phone==''?'':'<div class="phoned hand" style="color: #333"><i style="color: #333">' + area['phoned_prefix'] + '</i> ' + phone + '</div>'

            const html = '' +
                '<tr id="tr_' + id + '">' +
                    '<td><h4><input type="checkbox" class="box-item" data-id=' + id + ' id="box_'+ id +'" onclick="applyBarOne()"></h4></td>' +
                    '<td><h4 class="first_named">' + first_named + '</h4></td>' +

                    {% if request.session.layout.email == 1 %}

                        {% if request.session.layout.sms == 1 %}
                            '<td><h4>' + phoned + '</h4></td>' +
                            '<td align="center"><h4>' + email + '</h4></td>' +
                            '<td align="center"><h4 class="gender">' + _ser_gender(gender) + '</h4></td>' +

                        {% else %}
                            '<td><h4>' + email + '</h4></td>' +
                            '<td align="center"><h4 class="gender">' + _ser_gender(gender) + '</h4></td>' +
                            // '<td align="center"><h4 class="hand see-task" onclick="seeTask(' + id + ')">查看</h4></td>' +

                        {% endif %}

                    {% else %}
                        '<td><h4>' + phoned + '</h4></td>' +
                        '<td align="center"><h4 class="gender">' + _ser_gender(gender) + '</h4></td>' +
                        // '<td align="center"><h4 class="hand see-task" onclick="seeTask(' + id + ')">查看</h4></td>' +

                    {% endif %}

                    '<td align="center"><h4 class="bith">' + _ser_bith(bith) + '</h4></td>' +
                    // '<td align="center"><h4 class="tag-td" id="tag_user_' + id + '">' + '' + '</h4></td>' +

                    '<td align="center"><div class="star" onclick="isStar(' + id + ')">' + _ser_star(star) + '</div></td>' +

                    '<td align="center"><h4 class="hand see-task" onclick="seeTask(' + id + ')">查看</h4></td>' +


                    '<td align="center" width="64px"><h4><span onclick="contactOneManager(' + id + ')" class="glyphicon glyphicon-pencil hand text-main"></span></h4></td>' +
                '</tr>'
                
            // &nbsp;&nbsp;<a onclick="sureTrash(' + id + ')"><span class="glyphicon glyphicon-trash hand text-main"></span></a>
            contact.push(item)
            dataDom.append(html)
            tagsUser(id, $('#tag_user_' + id))
        })

        // BUG FIX
        if ((conditions['page']['offset']) && (res.length < 1)) {
            $('.page-input').val(1)
            filterManager()
        }
    }

    Array.prototype.remove = function(val) { 
        var index = this.indexOf(val); 
        if (index > -1) { 
            this.splice(index, 1); 
        } 
    };
</script>

<!-- 過濾器 -->
<div class="collapse" id="filterTool">
    <div class="filter-panel">


        <div class="row filter-row">
            {% if request.session.layout.email == 1 %}
                {% if request.session.layout.sms == 1 %}
                <div class="col-sm-3">
                    <select class="w-100 form-control filter-select" id="filter_status">
                        <option value="0">-- 全部狀態 --</option>
                        
                        <option value="1">有號碼的用戶</option>
                        <option value="2">無號碼的用戶</option>

                        <option value="3">有電郵的用戶</option>
                        <option value="4">無電郵的用戶</option>
                    </select>
                </div>

                {% endif %}
                
                {% else %}
                <div class="col-sm-2">
                    
                    <select class="w-100 form-control filter-select" id="filter_area">
                        <option value="0">-- 地區 --</option>
                        {% for area in areas %}
                        <option value="{{ area.id }}" data-prefix="{{ area.phoned_prefix }}">
                            {{ area.named }}({{ area.phoned_prefix }})
                        </option>
                        {% endfor %}
                    </select>
                    <!--input class="w-100 form-control" id="filter-search" placeholder="輸入名字或號碼"/-->
                </div>
            {% endif %}
            <div class="col-sm-2">
                <select class="w-100 form-control filter-select" id="filter_gender">
                    <option value="">-- 性別 --</option>
                    <option value="0">未知</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <!--div class="col-sm-2">
                <select class="w-100 form-control filter-select" id="filter_star">
                    <option value="0">-- 星標 --</option>
                    <option value="1">星標</option>
                    <option value="2">非星標</option>
                </select>
            </div-->
            
            <div class="col-sm-2">
                <select class="w-100 form-control filter-select" id="filter_tag">
                    <option value="0">-- 標籤 --</option>
                </select>
            </div>

            <div class="col-sm-3">
                <div class="two-input-group">
                    <select class="from-control filter-select start-age" id="start_age">
                        <option value="0">--</option>
                    </select>
                    <span class="">至</span>
                    <select class="from-control filter-select end-age" id="end_age">
                        <option value="150">150</option>
                    </select>
                    <div>歲</div>
                </div>
            </div>
            
            {% if request.session.layout.email == 1 %}
                <div class="col-sm-2"></div>
            {% endif %}
            <div class="col-sm-3 text-right">
                <button class="btn btn-default" onclick="clearFilter()">恢復</button>
                <button class="btn btn-primary" id="btnFilter" onclick="doFilter()">過濾</button>
            </div>
        </div>

        <div class="row" style="height: 8px;"></div>

        <div class="row filter-row">
            <div class="col-sm-4">
                
                <div class="input-group">

                    {% if request.session.layout.sms == 1 %}
                        {% if request.session.layout.email == 1 %}
                            <input type="text" class="form-control page-search" id="filter-search" placeholder="輸入姓名或電話號碼">
                        {% else %}
                        <input type="text" class="form-control page-search" id="filter-search" placeholder="輸入姓名或電話號碼">
                        {% endif %}
                    {% else %}
                        <input type="text" class="form-control page-search" id="filter-search" placeholder="輸入姓名或電郵地址">
                    {% endif %}
                    
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" onclick="doFilter()">搜索</button>
                      </span>
                </div>
            </div>
            <div class="col-sm-2">
                <select class="w-100 form-control filter-select" id="limit">
                    <option value="3">3 項每頁</option>
                    <option value="10">10 項每頁</option>
                    <option value="20">20 項每頁</option>
                    <option value="30">30 項每頁</option>
                    <option value="40">40 項每頁</option>
                    <option value="50">50 項每頁</option>
                    <option value="100">100 項每頁</option>
                    <option value="200">200 項每頁</option>
                    <option value="500">500 項每頁</option>
                </select>
            </div>
            <div class="col-sm-6">
                <div class="page-panel text-right">
                    <div class="d-inline"><span class="itemCount"></span>&nbsp;items&nbsp;&nbsp;</div>
                    <div class="page-inner d-inline">
                        <div class="btn btn-default page-icon" onclick="firstLast(true)">
                            <span class="">«</span>
                        </div>
                        <div class="btn btn-default page-icon" onclick="loadData(false)">
                            <span class="">‹</span>
                        </div>
                        <div class="d-inline">
                            <input class="page-input form-control" name="pageNow" id="page_input_1" />&nbsp;of&nbsp;<span class="pageCount"></span>
                        </div>
                        <div class="btn btn-default page-icon" onclick="loadData(true)">
                            <span class="">›</span>
                        </div>
                        <div class="btn btn-default page-icon" onclick="firstLast(false)">
                            <span class="">»</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 表單 -->
<div class="data-wrapper def-border table-responsive">
    <table class="table table-striped">
        <thead class="">
            <tr>
                <td>
                    <h4>
                        <input type="checkbox" onclick="choiseAll()" class="box-all" id="box_all">
                    </h4>
                </td>
                <td class="">
                    <h4 class="clearFix">
                        <div class="d-inline fl">姓名&nbsp;</div>
                        <div class="d-inline fl hand order-ctrl" id="order-named" onclick="orderManager(1)">
                            <div class=""><span class="glyphicon glyphicon-triangle-top"></span></div>
                            <div class=""><span class="glyphicon glyphicon-triangle-bottom"></span></div>
                        </div>
                    </h4>
                </td>
                {% if request.session.layout.email == 1 %}
                    {% if request.session.layout.sms == 1 %}
                    <td>
                        <h4 class="clearFix">
                            <div class="d-inline fl">電話號碼&nbsp;</div>

                            <div class="d-inline fl order-ctrl hand" id="order-phoned" onclick="orderManager(2)">
                                <div class=""><span class="glyphicon glyphicon-triangle-top"></span></div>
                                <div class=""><span class="glyphicon glyphicon-triangle-bottom"></span></div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <h4>電郵地址</h4>
                    </td>
                    <td align="center">
                        <h4>性別</h4>
                    </td>
                    {% else %}
                    <td>
                        <h4>電郵地址</h4>
                    </td>
                    <td align="center">
                        <h4>性別</h4>
                    </td>
                    {% endif %}
                {% else %}
                    <td>
                        <h4 class="clearFix">
                            <div class="d-inline fl">電話號碼&nbsp;</div>

                            <div class="d-inline fl order-ctrl hand" id="order-phoned" onclick="orderManager(2)">
                                <div class=""><span class="glyphicon glyphicon-triangle-top"></span></div>
                                <div class=""><span class="glyphicon glyphicon-triangle-bottom"></span></div>
                            </div>
                        </h4>
                    </td>
                    <td align="center">
                        <h4>性別</h4>
                    </td>
                {% endif %}
                <td align="center">
                    <h4>出生年月</h4>
                </td>
                <td align="center">
                    <h4 class="clearFix ordering-wrapper">
                        <div class="d-inline fl">星標&nbsp;</div>
                        <div class="d-inline hand order-ctrl fl" id="order-star" onclick="orderManager(3)">
                            <div class=""><span class="glyphicon glyphicon-triangle-top"></span></div>
                            <div class=""><span class="glyphicon glyphicon-triangle-bottom"></span></div>
                        </div>
                    </h4>
                </td>

                <td align="center">
                    <h4>歷史任務</h4>
                </td>

                <td align="center">
                    <h4>操作</h4>
                </td>
            </tr>
        </thead>
        <tbody class="tab-content" id="contact_content">
        </tbody>
    </table>
</div>
<!-- 分頁 -->

<div class="mr-t-main">
    <div class="row filter-row d-none mr-t-half" id="filter_panel_2">
        <div class="col-sm-12">
            <div class="page-panel text-right">
                <div class="d-inline"><span class="itemCount"></span>&nbsp;items&nbsp;&nbsp;</div>
                <div class="page-inner d-inline">
                    <div class="btn btn-default page-icon" onclick="firstLast(true)">
                        <span class="">«</span>
                    </div>
                    <div class="btn btn-default page-icon" onclick="loadData(false)">
                        <span class="">‹</span>
                    </div>
                    <div class="d-inline">
                        <input class="page-input form-control" name="pageNow" id="page_input_2" />&nbsp;of&nbsp;<span class="pageCount"></span>
                    </div>
                    <div class="btn btn-default page-icon" onclick="loadData(true)">
                        <span class="">›</span>
                    </div>
                    <div class="btn btn-default page-icon" onclick="firstLast(false)">
                        <span class="">»</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 加載數據 -->
<script>
    let pageCount = 0
    _loadData = function(url) {
        
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function(e) {
                
                // 渲染數據
                _build_html(e['results'])

                // 更改 Page
                var previous = e['previous']
                var next = e['next']

                var count = parseInt(e['count'])

                // 增加 首頁 末頁 功能
                if (previous == null) {
                    previous = _build_url(Math.floor(count / _limit) * _limit)
                    conditions['page']['offset'] = _offset
                }
                if (next == null) {
                    next = _build_url(_offset)
                    conditions['page']['offset'] = Math.floor(count / _limit) * _limit
                    
                }

                // 賦值
                conditions['page']['previous'] = previous
                conditions['page']['next'] = next
                conditions['page']['count'] = count

                // 展示 頁數    
                showPageMsg(
                    (Math.floor(parseInt(conditions['page']['offset']) / _limit) + 1),
                    Math.abs(Math.ceil(count / _limit)),
                    count
                )

            },
            error: function(e) {
                alert('暫無更新！！！')
            }
        })
    }

    loadData = function(n_or_p) {
        if (n_or_p) {
            conditions['page']['offset'] += _limit
            
            _loadData(conditions['page']['next'])
        } else {
            
            conditions['page']['offset'] -= _limit
            
            _loadData(conditions['page']['previous'])
        }
    }
    showPageMsg = function(now, all, count) {
        pageCount = all
        
        $('.pageCount').html(all)
        $('.page-input').val(
            now >= all ? all : now
        )
        $('.itemCount').html(count)

        if (count > (_limit / 2)) {
            $('#filter_panel_2').removeClass('d-none')
        }
    }

    _loadData(_build_url(conditions['page']['offset']))
    
    // DELETE
    _trash = function(id, isM = true) {
        
        $.ajax({
            url: _root + '/' + _api_name + '/?option=delete&id=' + id,
            type: 'POST',
            data: { 'id': id },
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
            },
            success: function(e) {
                $('#tr_' + id).addClass('d-none')

                for (var i= 0; i< contact.length; i++ ) {
                    const item = contact[i]
                    if (item['id'] == id) {
                        contact.remove(item)
                    }
                }
            },
            error: function(e) { console.log('Trash ERROR =', e); isM==true?alert('刪除失敗！！！'):null }
        })
        
    }
    sureTrash = function(id) {
        window.event? window.event.cancelBubble = true : e.stopPropagation()
        if (confirm('刪除聯系人將導致於該聯系人相關的短信、電郵等任務均失效，請謹慎做決定。確認要刪除嗎？')) {

            if (addr.trim() == '{{ request.session.user }}') {
                alert('成功！！')
            } else {
                alert('輸入不匹配！撤銷刪除')
                return
            }
            
            _trash(id)
        }
    }
</script>
<!-- 選擇與過濾 -->
<script>
    let box_dom_name = 'contact_content'
    // 選擇與判斷
    choiseAll = function() {
        const box_all = $('#box_all')
        if (box_all.is(':checked')) {
            $('.box-item').prop('checked', true)
        } else {
            $('.box-item').prop('checked', false)
            caf = false
        }

        if (_nowBoxNum() == 0) {
            applyBar(false)
        } else {
            applyBar(true)
        }
    }
    _allBoxNum = function () {
        let num = 0
        $('#' + box_dom_name + ' :checkbox').each(function () { 
            num += 1
        })
        return num
    }
    _nowBoxNum = function () {
        let num = 0;
        $('#' + box_dom_name + ' :checkbox').each(function () { 
            if ($(this).is(':checked')) {
                num += 1
            }
            /*
            else {
                num -= 1
            }
            */
        })
        return num
    }

    choiseRev = function () {
        $('#' + box_dom_name + ' :checkbox').each(function () { 
            $(this).prop("checked", !$(this).prop("checked")); 
        });

        if (_allBoxNum() == _nowBoxNum()) {
            $('#box_all').prop('checked', true)
        } else {
            $('#box_all').prop('checked', false)
        }

        applyBar(true)
        if (_nowBoxNum() <= 0) {
            applyBar(false)
        }

    }

    choiseNone = function () {
        $('#' + box_dom_name + ' :checkbox').each(function () { 
            $(this).prop("checked", false)
        })
        $('#box_all').prop('checked', false)

        applyBar(false)
    } 

    applyBar = function (f = $('#apply_bar').data('f')) {
        const apply = $('#apply_bar')

        if (f) {
            apply.removeClass('d-none')
            apply.fadeIn(1200)
            f = false
        } else {
            apply.fadeOut(1200, () => {
                apply.addClass('d-none')
            })
            f = true
        }

        apply.data('f', f)
    }
    applyBar(false)
    applyBarOne = function (f = $('#apply_bar').data('f')) {
        if (_nowBoxNum() > 0) {
            applyBar(true)
        } 
        else {
            applyBar(false)
        }
    }

    // 選中與應用
    _clearApply = function() {
        $('#apply_select').find('option').removeAttr('selected')
        $('#apply_select').find('option[value="0"]').attr('selected', true)
    }
    _clearFilter = function() {
        location.reload()
        /*
        $('#filter_area').find('option').removeAttr('selected')
        $('#filter_gender').find('option').removeAttr('selected')
        $('#filter_age').find('option').removeAttr('selected')
        $('#filter_star').find('option').removeAttr('selected')

        $('#filter_area').find('option[value="0"]').attr('selected', true)
        $('#filter_gender').find('option[value="100"]').attr('selected', true)
        $('#filter_age').find('option[value="0"]').attr('selected', true)
        $('#filter_star').find('option[value="0"]').attr('selected', true)
        */
    }

    _choiseId = function(tip='danger') {
        const dieId = []
        $('#' + box_dom_name + ' :checkbox').each(function () { 
            if ($(this).is(':checked')) {
                const id = $(this).data('id')
                if ($('#tr_' + id).hasClass('d-none') == false) {
                    dieId.push(id)
                    $('#tr_' + id).addClass(tip)
                }
            }
        })
        return dieId
    }
    _getTasker = function() {
        const taskId = _choiseId('info')
        const tasker = []
        
        for (var i= 0; i< contact.length; i++ ) {
            const item = contact[i]
            for (var j= 0; j< taskId.length; j++ ) {
                if (item['id'] == taskId[j]) {
                    tasker.push(item)
                }
            }
        }
        return tasker
    }
    _delNoneUser = function(rec, way) {
        for (var i= 0; i< rec.length; i++ ) {
            item = rec[i]
            if (way == 0) {
                // sms
                if (item['phoned'] == '') {
                    rec.remove(item)
                }
            } 
            else if (way == 1) {
                // email
                if (item['email'] == '') {
                    rec.remove(item)
                }
            }
        }
        return rec
    }
    doTask = function() {

        {% if request.session.layout.sms == 0 %}
            alert('該網站未開放短信發送功能，如需使用，請向開發人員申請。')
            return
        {% endif %}

        let tasker = _delNoneUser(_getTasker(), 0)
        tasker = JSON.stringify(tasker)
        localStorage.setItem('sms_tasker', tasker)
        location.href = '/contact/?option=task'
    }
    doEmail = function() {

        {% if request.session.layout.email == 0 %}
            alert('該網站未開放電郵任務功能，如需使用，請向開發人員申請。')
            return
        {% endif %}

        let tasker = _delNoneUser(_getTasker(), 1)
        tasker = JSON.stringify(tasker)
        localStorage.setItem('email_tasker', tasker)
        location.href = '/contact/?option=email'
    }
    trashAll = function() {

        if (confirm('刪除聯系人將導致於該聯系人相關的短信、電郵等任務均失效，請謹慎做決定。確認要刪除嗎？')) {

            try {
                const addr = prompt('請輸入妳的電郵地址用於確認刪除。', '')

                if (addr.trim() == '{{ request.session.user }}') {
                    alert('成功！！')
                } else {
                    alert('輸入不匹配！撤銷刪除')
                    return
                }
            } catch(e) { return }

            applyBar(false)
            const dieId = _choiseId()
            _sleep(500).then(() => {

                for (var i= 0; i< dieId.length; i++ ) {
                    const id = dieId[i]

                    _sleep(100 * i).then(() => {
                        _trash(id)
                    })

                    if ((i + 1) == dieId.length) {
                        
                        _sleep(100 * (i + 2)).then(() => {
                            $('#box_all').prop('checked', false)
                            _loadData(_build_url(conditions['page']['offset']))
                        })
                    }
                }
            })
        }
    }

    applyManager = function(apply=0) {
        // const apply = $('#apply_select').find('option:selected').val()
        const num = _nowBoxNum()
        
        if (((_allBoxNum() + num) == 0) && (apply != 11)) {
            alert('請選擇壹個或多個項目！！！')
            return
        }

        switch(parseInt(apply)) {
            case 3: 
                doTask()
                break;
            case 4: 
                doEmail()
                break;
            case 11: 
                choiseRev()
                break;
            case 12:
                trashAll()
                break;
        }

        if (apply != 11) {
            _clearApply()
        }
    }
    
    // 過濾
    let collF = false
    collapseManager = function() {
        if (collF) {
            $('#filterTool').collapse('hide')
            $('#collapser').html('<span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;展開過濾器')
            collF = false
        } else {
            $('#filterTool').collapse('show')
            $('#collapser').html('<span class="glyphicon glyphicon-triangle-top"></span>&nbsp;關閉過濾器')
            collF = true
        }
    }
    collapseManager()

</script>
<!-- OTHER -->
<script>
    // FILTER
    let star_bool = ''
    // =================================================================>

    // Limit
    _limitChange = function(limited) {
        $('#limit').find('option').removeAttr('selected')
        $('#limit').find('option[value="' + limited + '"]').attr('selected', true)
        vSet('limit_contact', limited)
    }
    _limitChange(_limit)

    $('#limit').on('change', function() {
        let limited = $('#limit').find('option:selected').val()
        
        _limitChange(limited)
        location.reload()
    })

    // Installing
    makeFilter = function() {
        $('#start_age').html('')
        $('#end_age').html('')
        $('#start_age').append('<option value="0">--</option>')
        for (var i= 1; i< 101; i++ ) {
            $('#start_age').append('<option value="' + i + '">' + i + '</option>')
        }

        $('#end_age').append('<option value="150">--</option>')
        for (var i= 100; i> 0; i-- ) {
            $('#end_age').append('<option value="' + i + '">' + i + '</option>')
        }
    }
    makeFilter()

    // Clear
    clearFilter = function() {
        _clearFilter()
    }

    // Option Collapse
    optionFilter = function(f) {
        if (f) {
            $('#filterTool').collapse('hide')
        } else {
            $('#filterTool').collapse('show')
        }
    }
    
    // Center Controller
    filterManager = function() {
        
        const filter_status = $('#filter_status').find('option:selected').val()

        //AREA
        let area = $('#filter_area').find('option:selected').val()
        area = area==undefined?'':area

        // GENDER
        const gender = $('#filter_gender').find('option:selected').val()

        // SEARCH
        let search = $('#filter-search').val()
        if (search.length >= 60) {
            alert('搜索關鍵字長度不可超過60。')
            return
        }

        // TAG
        let tag = parseInt($('#filter_tag').find('option:selected').val())
        if (tag > 0) {
            if ( !hasYou(tag, allTag) ) { tag = 0 }
        }

        // BIRTH
        let start_age = $('#start_age').find('option:selected').val()
        let end_age = $('#end_age').find('option:selected').val()
        let ageF = true
        if (ageF) {
            try {
                start_age = parseInt(start_age.replace(/\s*/g, ''))
                end_age = parseInt(end_age.replace(/\s*/g, ''))
                if (start_age > end_age) {
                    alert('請檢查過濾器中先後年齡的大小順序！！！')
                    return
                }
                if (_ser_filter_age(start_age) != true) {
                    start_age = 0
                } 
                else if (_ser_filter_age(end_age) != true) {
                    end_age = 150
                }
                ageF = true
                $('#start_age').val(start_age)
                $('#end_age').val(end_age)
            } catch(e) {
                alert('請檢查過濾器中年齡的輸入是否有誤！！！')
            }
            if ((start_age == 0) && (end_age == 150)) {
                ageF = false
            }
        }

        /*
        // STAR
        const star = $('#filter_star').find('option:selected').val()
        let star_bool = ''
        if (star == 1) { star_bool = true } else if (star == 2) { star_bool = false }
        */

        // PAGE
        let page_num = $('.page-input').val()
        
        page_num = page_num >= pageCount ? pageCount : page_num
        page_num = page_num <= 0 ? 1 : page_num
        

        if (
            (area == '') && (filter_status == undefined) &&
            (ageF == false) && (star_bool == '') &&
            (gender == '') && (tag == 0) && 
            (search == '')
        ) {
            // NEEDENT FILTER
            
        } else {

            conditions['filter']['area'] = {
            'res': area==0?'':area,
            'val': area
            }
            conditions['filter']['filter_status'] = {
                'res': filter_status==undefined?'':filter_status,
                'val': filter_status
            }
            conditions['filter']['bith'] = {
                'start_bith': _age_num(start_age),
                'end_bith': _age_num(end_age),
                'val': 0,
                'age_f': ageF
            }
            conditions['filter']['gender'] = {
                'res': gender,
                'val': gender
            }
            conditions['filter']['tag'] = {
                'res': tag==0?'':tag,
                'val': tag
            }
            conditions['filter']['star'] = {
                'res': star_bool,
                'val': star_bool
            }
            conditions['filter']['search'] = {
                'res': search,
                'flag': 
                
                {% if request.session.layout.sms == 1 %}
                        {% if request.session.layout.email == 1 %}
                        _val_filter_named_and_phoned_and_email(search)
                        {% else %}
                        _val_filter_named_and_phoned(search)
                        {% endif %}
                    {% else %}
                    _val_filter_named_and_email(search)
                {% endif %}
            }
            conditions['page']['offset'] = (page_num - 1) * _limit
            
        }
        
        // _loadData(_build_url(_offset))

        _loadData(_build_url((page_num - 1) * _limit))
    }
    firstLast = function(f) {
        let page_num = 0

        if (!f) {
            page_num = pageCount
        }
        
        $('.page-input').val(page_num)

        filterManager()
    }
    doFilter = function() {
        filterManager()
    }

    // KEYBOARD
    // =================================================================>

    // INIT
    let keyLock = true
    function keyboard(e) {
        let x = e.keyCode || e.which
        let key = String.fromCharCode(x);
        
        if ((key.trim() == '') || (key == null)) {
            if (keyLock) {
                $('#btnFilter').click()
            }
            keyLock = false
        }
        setTimeout(() => keyLock = true, 2400)
    }

    // LISTEN
    document.addEventListener('keyup', keyboard);
    document.onkeyup = keyboard;

    const page_input_1 = document.getElementById('page_input_1')
    const page_input_2 = document.getElementById('page_input_2')

    page_input_1.onkeyup = function() {
        page_input_2.value = page_input_1.value
    }
    page_input_2.onkeyup = function() {
        page_input_1.value = page_input_2.value
    }
</script>
<!-- 樣式 -->
<style>
    .apply-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 12px 0px;
    }
    .apply-diliver {
        color: #7e7e7e;
    }
    .tool-btn {
        border: none; 
        background: none;
        color: #f5f5f5;
    }
    .tool-btn:hover,
    .tool-btn:focus,
    .tool-btn:active,
    .tool-btn:active:hover {
        background: none; 
        color: #00b9eb;
        border: none;
        box-shadow: none;
    }
    .trash-btn {
        color: #f5f5f5;
    }
    .trash-btn:hover,
    .trash-btn:focus,
    .trash-btn:active,
    .trash-btn:active:hover {
        background: none; 
        color: rgb(240, 0, 0);
        border: none;
        box-shadow: none;
    }
    .well {
        margin-bottom: 0px !important;
    }
    .tab-content td {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .fs-18 {
        font-size: 18px;
    }
    .see-task {
        color: #42b0d1;
    }
    .see-task:hover {
        color: #22a1c7;
    }
    .apply-select {
        
    }
    .tag-td {
        max-width: 170px;
    }
    .br {
        border: 1px solid pink;
    }
    .order-ctrl {
        font-size: 12px !important;
        width: 15px;
        position: relative;
        margin-top: -2px;
    }
    .order-ctrl div:nth-child(2) {
        margin-top: -5px;
    }
    .order-ctrl:hover,
    .order-active-1 div:nth-child(1),
    .order-active-2 div:nth-child(2) {
        color: #0073aa;
    }
    .ordering-wrapper {
        display: table;
    }

</style>
{% include './contact_in.html' %}
{% include './contact_tag.html' %}
{% include './contact_preview.html' %}
{% endblock data %}


{% block bar %}
<!-- 應用欄 2 -->
<div class="apply-bar d-none bg-main" id="apply_bar" data-f="false">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">

                {% if request.session.layout.sms == 1 %}
                <div class="btn btn-default tool-btn btn-lg" onclick="applyManager(3)">給所選項新建任務</div>
                    <!-- &nbsp;&nbsp;<span class="apply-diliver">|</span>&nbsp; -->
                {% endif %}
                {% if request.session.layout.email == 1 %}
                <div class="btn btn-default tool-btn btn-lg" onclick="applyManager(4)">給所選項發送郵件</div>
                {% endif %}
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn btn-default tool-btn btn-lg" onclick="applyManager(11)">反向選擇</div>
                    &nbsp;&nbsp;<span class="apply-diliver">|</span>&nbsp;
                <div class="btn btn-default tool-btn btn-lg" onclick="choiseNone()">取消選擇</div>
                    &nbsp;&nbsp;<span class="apply-diliver">|</span>&nbsp;
                <div class="btn btn-default tool-btn trash-btn btn-lg" onclick="applyManager(12)">刪除所選</div>
            </div>
        </div>
    </div>
</div>
{% endblock bar %}