
<!-- 标签 增加 Modal -->
<div class="modal fade" tabindex="-1" id="tag_plus_modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: none; box-shadow: none; border: none;">
            <div class="modal-body tag-modal">
                <div class="input-group input-group-lg">
                    <input type="text" id="tag_name" class="form-control" placeholder="请输入标签名称">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" onclick="tagPlus()">添加</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let nowTag = []
    let addrTag = []
    let allTag = []
    
    clearCTag = function() {
        nowTag = []

    }
    closeTagPlusModal = function() {
        $('#tag_plus_modal').modal('hide')
    }
    
    chooiseTag = function(id, domIndex) {
        const targDom = $(tagDomList[domIndex])

        window.event? window.event.cancelBubble = true : e.stopPropagation()
        // NEW
        let tags = []
        let check_tag = false
        const tag_now = targDom.find('.tag_box_' + id)
        const check = tag_now.data('checked')
        
        check_tag = check == true ? false : true

        tag_now.prop('checked', check_tag)
        tag_now.data('checked', check_tag)

        // 初赋值
        if (domIndex == 0) {
            tags = delListSame(nowTag)
        } else if (domIndex == 1) {
            tags = delListSame(addrTag)
        }

        // 选择
        if (check_tag) {
            tags.push(id)
        } else {
            for (let m= 0; m< tags.length; m++ ) {
                if (id == tags[m]) {
                    tags.splice(m, 1)
                }
            }
        }

        // 确定值
        if (domIndex == 0) {
            nowTag = tags
        } else if (domIndex == 1) {
            addrTag = tags
        }

    }
    _tagPlus = function(named) {
        $.ajax({
            url: _url + 'tag/',
            type: 'POST',
            data: { 'named': named },
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
            },
            success: function(e) {
                try {
                    refreashTag()
                    locationTag(nowTag, 0, true)

                    closeTagPlusModal()
                } catch(e) {
                    alert('網絡波動，請重試！')
                }
            }
        })
    }
    tagPlus = function() {
        let named = $('#tag_name').val()
        try {
            named = named.trim()
            const val_tag = _val_tag(named)
            if (!val_tag) {
                alert(val_tag)
                return
            }
        } catch(e) { return }
        
        $.ajax({
            url: _url + 'tag/?status=True&named=' + named,
            type: 'GET',
            success: function(e) {
                const len = e.length
                if (len > 0) {
                    alert('已存在相同名稱的標簽。')
                } else {
                    _tagPlus(named)
                }
            }
        })
    }
    tagTrash = function(id) {
        
        window.event? window.event.cancelBubble = true : e.stopPropagation()
        try {
            const addr = prompt('標簽刪除為敏感操作，確認刪除需輸入登錄電郵：', '')

            if (addr.trim() == '{{ request.session.user }}') {
                alert('成功！！')
            } else {
                alert('輸入不匹配！撤銷刪除')
                return
            }
        } catch(e) { return }

        $.ajax({
            url: _url + 'tag/' + id,
            async: false,
            type: 'DELETE',
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
            },
            success: function(e) {
                refreashTag()
                locationTag(nowTag, 0, true)
                locationTag(addrTag, 1, true)
                _loadData(_build_url(conditions['page']['offset']))
            },
            error: function(e) {
                alert('因網絡波動，刪除失敗！')
            }
        })
    }
    _tagUserUpdate = function(contact_id) {
        
        $.ajax({
            url: _root + '/tag/?option=user&contact_id=' + contact_id + '&tags=' + addrTag,
            type: 'POST',
            data: { 'tags': addrTag },
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
            },
            success: function(e) {
                managerTag('clear', 1)
            }
        })
    }
    tagUserUpdate = function(contact_id) {
        managerTag('clear', 1)
        $.ajax({
            url: _root + '/tag/?option=user&contact_id=' + contact_id,
            type: 'GET',
            success: function(e) {
                const tags = e['tags']
                let res = []

                if (tags.length > 0) {
                    for (let i= 0; i< tags.length; i++ ) {
                        const tag = tags[i]
                        res.push(tag['id'])
                    }
                }

                locationTag(res, 1, true)
                addrTag = res
            }
        })
    }

</script>
<script>
    const tagDomList = [
        '#tag_plus_dom',
        '#tag_update_dom'
    ]
    let tagNowModal = null
            
    _buildTag = function(tags, domIndex) {
        let res = []

        for (let i= 0; i< tags.length; i++ ) {
            const tag = tags[i]
            const id = tag['id']
            const named = tag['named']
            const color = catchColor(i)

            const html = '' +
            '<div class="col-sm-4">' +
                '<div class="tag-item hand" style="background: ' + color + '; border: 2px solid ' + color + '" onclick="chooiseTag(' + id +',  ' + domIndex + ')">' +
                '   <div class="tag-wrapper">' +
                '       <input class="d-inline fl tag_box_' + id + '" data-checked="false" type="checkbox">' +
                '       <h4 class="d-inline fl text-white tag-name">' + named + '</h4>' +
                '       <span onclick="tagTrash(' + id + ')" class="fr glyphicon glyphicon-trash tag-trash mr-t-half"></span>' +
                '   </div>' +
                '</div>' +
            '</div>'
            res.push(html)
        }

        const defTagPlus = '' +
            '<div class="col-sm-4" id="tag_plus_event_' + domIndex + '" data-dom="a">' +
            '   <div class="text-center tag-item tag-plus hand">' +
            '       <span class="glyphicon glyphicon-plus"></span>' +
            '   </div>' +
            '</div>'
        const endTagScript = '<script>' +
            '   $("#tag_plus_event_' + domIndex + '").click(function() { managerTagPlus(true, "#" + $(this).parent().attr("id")) })' + 
            '<\/script>'

        res.push(defTagPlus)
        res.push(endTagScript)
            
        return res
    }
    loadTagFilter = function(tags) {
        const optionDom = $('#filter_tag')

        optionDom.html('')
        const defOption = '<option value="0">-- 標簽 --</option>'
        optionDom.append(defOption)

        for (let i= 0; i< tags.length; i++ ) {
            const tag = tags[i]
            const option = '<option value="' + tag['id'] + '">' + tag['named'] + '</option>'
            optionDom.append(option)
        }
    }
    refreashTag = function(tDL = tagDomList) {
        for (var d= 0; d< tagDomList.length; d++ ) {
            $(tagDomList[d]).html('')
        }
        
        $.ajax({
            url: _url + 'tag/',
            type: 'GET',
            async: false,
            success: function(e) {
                loadTagFilter(e)
                allTag = []
                for (var t= 0; t< e.length; t++ ) {
                    allTag.push(e[t]['id'])
                }

                for (var d= 0; d< tagDomList.length; d++ ) {
                    const htmls = _buildTag(e, d)

                    for (var i= 0; i< htmls.length; i++ ) {

                        $(tagDomList[d]).append(htmls[i])
                    }
                }
            },
            error: function(e) {
                alert('因網絡較差，加在失敗，請重試。')
            }
        })
    }
    managerTagPlus = function(f, showDom) {
        const nowIndex = whereYou(showDom, tagDomList)

        if (nowIndex > -1) {
            if (nowIndex == 0) {
                tagNowModal = '#contact_plus_modal'
            } else if (nowIndex == 1) {
                tagNowModal = '#contact_one_modal'
            }
        }

        if (f) {
            $('.modal').modal('hide')
            $('#tag_plus_modal').modal('show')

        } else {
            try {

            } catch(e) {

            }
            console.log('tagNowModal =', tagNowModal)

            $(tagNowModal).modal('show')

            if (tagNowModal == '#contact_plus_modal') {
                locationTag(nowTag, 0, true)
            } else if (tagNowModal == '#contact_one_modal') {
                locationTag(addrTag, 1, true)
            }
            tagNowModal = null
        }
    }
    $('#tag_plus_modal').on('hidden.bs.modal', function () {
        managerTagPlus(false, '#contact_plus_modal')
    })

    _locationTag = function(id, targDom, status) {
        targDom.find('.tag_box_' + id).prop('checked', status)
        targDom.find('.tag_box_' + id).data('checked', status)
    }
    locationTag = function(srcTags, domIndex, status) {
        const targDom = $(tagDomList[domIndex])

        if (srcTags.length > 0) {
            for (let i= 0; i< srcTags.length; i++ ) {
                const id = srcTags[i]
                
                _locationTag(id, targDom, status)
            }
        }
    }
    
    clearTag = function(domIndex) {
        if (domIndex == 0) {
            nowTag = []
        } else if (domIndex == 1) {
            addrTag = []
        }
        locationTag(allTag, domIndex, false)
    }

    managerTag = function(option, domIndex) {
        switch(option) {
            case 'clear':
                clearTag(domIndex);
                break;
            default:
                refreashTag();
        } 
    }
    refreashTag()
</script>
<style>
    #tag_plus_dom,
    #tag_update_dom {
        padding: 0px 4px;
        box-sizing: border-box !important;
    }
    .tag-modal {
        padding-top: 20vh;
        background: none !important;
        background-color: none !important;
    }
    .tag-item {
        padding: 10px 12px;
        margin: 5px -4px;
        border-radius: 4px;
        box-sizing: border-box !important;
    }
    .tag-wrapper {
        position: relative;
        min-height: 20px;
    }
    @media screen and (min-width: 769px) {
        .tag-wrapper * {
            line-height: 0;
        }
    }
    @media screen and (max-width: 768px) {
        .tag-wrapper h4 {
            margin-top: 0px;
        }
    }
    .tag-name {
        margin-left: 15px;
    }

    .tag-plus {
        display: block;
        border: 2px dashed #dddddd;
        box-sizing: border-box !important;
    }
    .tag-plus * {
        color: #dddddd;
        box-sizing: border-box !important;
    }
    .tag-plus:hover {
        border-color: #cccccc;
    }
    .tag-plus:hover * {
        color: #cccccc;
    }

    .tag-trash {
        margin-top: 4px;
        color: white;
    }

    .simple-tag {
        border-radius: 4px;
        box-sizing: border-box;
        padding: 2 8px;
    }
    .simple-tag span {
        padding: 2 8px;
    }
</style>