
{% load staticfiles %}
<div class="top-bar">
    <div class="container-fluid">
        <div class="fl hand" onclick="goIndex()">
            <img class="logo" src="{% static '/Common/Logo/' %}{{ request.session.company }}.png" />
        </div>
        <div class="login-out fr">
            <h4 class="fw-400">需要&nbsp;&nbsp;<span class="text-main hand" onclick="go('/login-out/')">登出</span>？</h4>
        </div>
        <div class="name fr">
            <h4 class="fw-400">歡迎&nbsp;&nbsp;<div class="text-main d-inline" href="#">{{ request.session.user }}</div>，</h4>
        </div>
    </div>
</div>
{% if request.session.layout == None %}
    <script> location.href = '/login/' </script>
{% endif%}
<script>
    goIndex = function() {
        {% if request.session.company == '123medhk' %}
        location.href = '/task/'
        {% elif request.session.company == 'eye' %}
        location.href = '/email/'
        {% else %}
        location.href = '/'
        {% endif %}
    }
    goBack = function() {
        history.back()
    }
    reLoad = function() {
        location.reload()
    }
</script>
<style>
.top-bar {
    height: 45px;
    background: rgba(255, 255, 255, 1);
    
    width: 100%;
    display: block;
}
.top-bar > div {
    padding-top: 3px;
}
.logo {
    overflow: hidden;
    height: 43px;
    margin-top: -3px;
    margin-left: 1px;
}
.logo img {
    height: 100%;
    width: auto;
}
.name {
    margin-top: 0px;
}
.login-out {
    margin-top: 0px;
}
</style>