{% extends '../index.html' %}
{% load staticfiles %}
{% block data %}

<!-- 初始化 -->
<script>
    const _limit = 15
    const _offset = 0
    const _api_name = 'email_template'
    const _url = _root + '/api/'

    let conditions = {
        'page': {
            'count': 0,
            'limit': _limit,
            'offset': _offset,

            'next': '',
            'previous': ''
        },
        'filter': {
            'ordering': {
                'res': '-add_time',
                'val': 0
            },
            'category': {
                'res': '',
                'val': 0
            }
        }
    }

    let contact = []

    _build_url = function(offset) {
        const filter = conditions['filter']
        const page = conditions['page']

        const res = _url + _api_name + '/?format=json&status=True' +
            '&limit=' + page['limit'] + 
            '&offset=' + offset +

            '&category=' + filter['category']['res'] +
            '&ordering=' + filter['ordering']['res']

        return res
    }

    _build_html = function(res) {

        let dataDom = $('#email_template-content')
        contact = []
        dataDom.html('')
        $.each(res, function(index, item) {
            const id = item['id']
            const service = item['service']
            const subject = item['subject']
            const category = item['category']['named']
            const time_rule = _ser_email_time_rule(item['time_rule'])

            const html = '' +
                '<tr>' +
                '    <td><h4>' + service + '</h4></td>' +
                '    <td><h4>' + subject + '</h4></td>' +
                '    <td><h4>' + category +'</h4></td>' +
                '    <td align="center"><h4>' + time_rule + '</h4></td>' +
                '    <td align="center"><h4><a class="text-info hand" onclick="seeMore(' + id + ')">預覽</a></h4></td>' +
                '    <td align="center"><h4>' +
                '        <span onclick="update(' + id + ')" class="glyphicon glyphicon-pencil hand text-main"></span>' +
                '        <span onclick="sureTrash(' + id + ')" class="glyphicon glyphicon-trash hand text-main"></span>' +
                '    </h4></td>' +
                '</tr>'

            contact.push(item)
            dataDom.append(html)
        })
    }

    Array.prototype.remove = function(val) { 
        var index = this.indexOf(val); 
        if (index > -1) { 
            this.splice(index, 1); 
        } 
    };
</script>

<!-- TABLE -->
<div class="data-wrapper def-border table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <h4>服務名<span id="countMsg"></span></h4>
                </td>
                <td>
                    <h4>郵件標題</h4>
                </td>
                <td>
                    <h4>分類</h4>
                </td>
                <td align="center">
                    <h4>時間規則</h4>
                </td>
                <td align="center">
                    <h4>郵件內容</h4>
                </td>
                <td align="center">
                    <h4>操作</h4>
                </td>
            </tr>
        </thead>
        <tbody class="tab-content" id="email_template-content">
        </tbody>
    </table>
</div>

<nav aria-label="...">
    <ul class="pager">
        <li class="next">
            <a href="#" id="next" onclick="loadData(true)">
                下壹頁 <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        <li class="fr">
            <h5 id="pageMsg"></h5>
        </li>
        <li class="previous fr">
            <a href="#" class="disable" id="previous" onclick="loadData(false)">
                <span aria-hidden="true">&larr;</span> 上壹頁
            </a>
        </li>
    </ul>
</nav>

<script>
    sureTrash = function(id) {
        window.event? window.event.cancelBubble = true : e.stopPropagation();
        var flag = confirm("確認要刪除嗎？");
        if (flag) {
            location.href = "/email_template?option=trash&id=" + id
        }
    }
    update = function(id) {
        location.href = "/email_template?option=update&id=" + id
    }
    preview = function() {

    }
    _loadData = function(url) {
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function(e) {
                
                // 渲染數據
                _build_html(e['results'])

                // 更改 Page
                var previous = e['previous']
                var next = e['next']
                var count = e['count']

                // 增加 首頁 末頁 功能
                if (previous == null) {
                    previous = _build_url(Math.floor(count / _limit) * _limit)
                    conditions['page']['offset'] = _offset
                }
                if (next == null) {
                    next = _build_url(_offset)
                    conditions['page']['offset'] = Math.floor(count / _limit) * _limit
                }

                // 賦值
                conditions['page']['previous'] = previous
                conditions['page']['next'] = next
                conditions['page']['count'] = count

                // 展示 頁數
                let text = (Math.floor(conditions['page']['offset'] / _limit) + 1) + '/' + Math.abs(Math.ceil(count / _limit))
                $('#pageMsg').html(text)

            },
            error: function(e) {
                alert('暫無更新！！！')
            }
        })
    }

    loadData = function(n_or_p) {
        if (n_or_p) {
            conditions['page']['offset'] += _limit
            _loadData(conditions['page']['next'])
        } else {
            conditions['page']['offset'] -= _limit
            _loadData(conditions['page']['previous'])
        }
    }

    _loadData(_build_url(conditions['page']['offset']))
</script>

<!-- 查看详情 -->
<div class="modal fade" tabindex="-1" id="see_more_modal" data-id="" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <table class="table table-bordered table-striped">
                    <thead>
                        <th class="text-center">
                            <h3>
                                模版内容预览
                                <div class="btn btn-default fr" data-dismiss="modal">关闭</div>
                            </h3>
                        </th>
                    </thead>
                    <tbody id="more-content">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 数据操作 -->
<script>

    _seeMore = function(et) {
        const subject = et['subject']
        const message = et['message']

        const html = '' +
            '<tr class="subject"><td><div class="fw-bold d-inline">标题:&nbsp;&nbsp;</div>' + subject + '</td></tr>' +
            '<tr class="message"><td><span class="<fw-bold">内容:</span></td></tr><tr><td><div class="mail-message">' + message + '</div></td></tr>' 
        return html
    }

    seeMore = function(id) {
        for(var i= 0; i< contact.length; i++ ) {
            const ea = contact[i]
            if (ea['id'] == id) {
                $('#more-content').html(_seeMore(ea))
                $('#see_more_modal').modal('show')
            }
        }
    }
</script>

<style>
    .subject {
        height: 60px !important;
        padding-top: 30px;
    }
    .message {
        height: 45px !important;
    }
    .mail-message {
        width: 100%;
        height: 100%;
        word-break: break-all;
        word-wrap: break-word;
    }
    .modal-body {
        overflow: scroll;
    }
    .modal-body img {
        max-width: 100%;
    }
    .table {
        word-break: break-all;
        word-wrap: break-word;
        box-sizing: border-box;
    }
</style>
{% endblock data %}