{% extends '../index.html' %}
{% load staticfiles %}
{% block data %}

<script  type="text/javascript" src="{% static 'vue.min.js' %}"></script>
<script>
    
    const _api = '/api'
    
</script>
<style>
    .form-control-simple {
        margin-top: 5px;
        margin-bottom: -15px;
        
    }
    .form-control-simple > div {
        margin-top: -5px !important;
        float: left;
    }
    .info-panel {
        padding-top: 15px;
        color: #9c9c9c;
    }
    .txt-len {
        color: #afafaa;
        float: right;
        margin-top: 5px;
    }
    .txt-len input {
        font-size: 12px !important;
        font-weight: 400;
        border: none;
        text-align: right;
    }
</style>

    <div class="row">
        <div class="col-sm-9" id="app">
            <form class="form">

                <div class="form-group form-group-lg row">
                    <div class="col-sm-8">
                        <label for="service" class="control-label">服務名稱：</label>
                        <input type="text" class="form-control" v-model="service" id="service" placeholder="服務名稱">
                    </div>
                    <div class="col-sm-4">
                        <label for="service" class="control-label">類別：</label>
                        <select class="form-control" v-model="cate">
                            {% for cate in category %}
                                <option value="{{ cate.id }}">{{ cate.named }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-lg">
                    <label for="service" class="control-label">時間規則：
                    </label>
                    <div class="form-control-simple clearfix" id="time_rule_panel">
                    </div>
                </div>

                <!-- 中文 -->
                <div class="panel panel-default">
                    <div class="panel-heading">中文短信模版</div>
                    <div class="panel-body">
                    
                        <div class="form-group form-group-lg">
                            <label for="" class="control-label d-block">首發模版：
                                <span class="txt-len">
                                    <input v-model="content_len">
                                </span>
                            </label>
                            <textarea class="form-control" rows="5" v-model="content"></textarea>
                        </div>
                        <div class="form-group form-group-lg">
                            <label for="" class="control-label d-block">後發模版：

                                <span class="txt-len">
                                    <input v-model="content_sub_len"></span>
                            </label>
                            <textarea class="form-control" rows="5" v-model="content_sub"></textarea>
                        </div>
                    </div>
                </div>

                <!-- 英文 -->
                <div class="panel panel-default">
                    <div class="panel-heading">英文短信模版</div>
                    <div class="panel-body">
                    
                        <div class="form-group form-group-lg">
                            <label for="" class="control-label d-block">The first SMS template：
                                <span class="txt-len">
                                    <input v-model="content_len_en">
                                </span>
                            </label>
                            <textarea class="form-control" rows="5" v-model="content_en"></textarea>
                        </div>
                        <div class="form-group form-group-lg">
                            <label for="" class="control-label d-block">The next SMS template：

                                <span class="txt-len" >
                                    <input v-model="content_sub_len_en"></span>
                            </label>
                            <textarea class="form-control" rows="5" v-model="content_sub_en"></textarea>
                        </div>
                    </div>
                </div>

            </form>
            <button id="submitV" style="visibility: hidden;" @click="validate()">Submit</button>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-group-lg">
                <label for="service" class="control-label">模版參數說明：</label>
                <div class="info-panel">
                    短信模版是可以添加壹些參數來提高短信接收者的用戶體驗感，
                    我們支持的參數有“接收者名字”和 ”第幾封短信“。<br/><br/><br/>
                    把下面藍色的字復制到短信模版想要的位置即可！
                </div>
                <div class="info-panel"><br/>
                    <span class="text-main">{{named}}</span>&nbsp;&nbsp;=&nbsp;&nbsp;接收者名字<br/>
                    <span class="text-main">{{numed}}</span>&nbsp;&nbsp;=&nbsp;&nbsp;第幾封短信
                </div>
                <br/>
                <div class="info-panel ">
                    注：模版參數的加入會讓短信的字數數量產生變化，因為每個接收者的名稱長度是不一樣的。
                </div>
            </div>
        </div>
        <div class="form-group form-group-lg  col-sm-12 mr-t-main">
            <div class="flex-action">
                <button type="button" class="btn btn-default btn-lg"  onClick="back()">返回</button>
                <h4 class="d-inline">or</h4>
                <button type="button" class="btn btn-primary btn-lg" onclick="submit()">立即提交</button>
            </div>
        </div>
    </div>
    
<script>
    buildTimeRule = function() {
        let html = ''
        const tr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
        for (let i= 0; i< tr.length; i++ ) {
            const txt = _ser_time_rule_belong(tr[i])

            html += '' +
            '<div class="checkbox mr-r-main"> ' +
            '    <label> ' +
            '        <input type="checkbox" name="tr" value="' + tr[i] + '" v-model="time_rule">' + txt +
            '    </label> ' +
            '</div> '
        }
        
        $('#time_rule_panel').html(html)
    }
    buildTimeRule()
</script>
<script>
    const cate = [
        {% for c in category %}{{c.id}}, {% endfor %}]

    submit = function() {
        $('#submitV').click()
    }
    var v = new Vue({
        el: '#app',
        data: {
            service: '',
            cate: cate[0],
            time_rule: [],
            content: '',
            content_sub: '',
            content_sub_len: 0 + '  個字',
            content_len: 0 + '  個字',

            content_en: '',
            content_sub_en: '',
            content_sub_len_en: 0 + '  Length',
            content_len_en: 0 + '  Length',
        },
        watch: {
            content: function(n, o) {
                this.content_len = n.length + ' 個字'
            } ,
            content_sub: function(n, o) {
                this.content_sub_len = n.length + ' 個字'
            } ,
            content_en: function(n, o) {
                this.content_len_en = n.length + ' Length'
            } ,
            content_sub_en: function(n, o) {
                this.content_sub_len_en = n.length + ' Length'
            } 
        },
        methods: {
            
            _submit: function() {
                
                const data = {
                    'named': this.service,
                    'cate': this.cate,
                    'time_rule': this.time_rule + '',
                    'content': this.content,
                    'content_sub': this.content_sub,
                    'content_en': this.content_en,
                    'content_sub_en': this.content_sub_en,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                }
                
                $.ajax({
                    url: _root + '/service/?option=add',
                    data: data,
                    type: 'POST',
                    headers: {
                        Accept: "application/json; charset=utf-8",
                    },
                    success: function(e) {
                        const status = e['status']
                        if ((status == 'True') | (status == 'true') | (status == true)) {
                            alert('添加成功！！！')
                            location.href = '/service/'
                        } else {
                            if (e['msg'] == 'xss') {
                                location.href = '/danger/?option=xss'
                            }
                        }
                    },
                    error: function(e) {
                        alert('請檢查輸入字段是否有誤！')
                    }
                })
            },
            validate: function() {
                const self = this

                let val_thing= _valide_text(this.service, '服務名稱')
                if (val_thing != true) { alert(val_thing); return }

                $.ajax({
                    url: _root + '/service/?option=same',
                    data: {
                        'named': self.service,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    type: 'POST',
                    headers: {
                        Accept: "application/json; charset=utf-8",
                    },
                    success: function(e) {
                        const same = e['same']
                        if ((same == 'true') || (same == true) || (same == 'True')) {
                            alert('監測到已存在相同名稱的服務項目。')
                        } else {
                            self._validate()
                        }
                    },
                    error: function(e) {
                        alert('因網絡波動！！')
                    }
                })

            },
            _validate: function() {

                if (this.time_rule.length < 1) {
                    alert('請至少選擇一個時間規則！')
                    return 
                }

                val_thing = _valide_text(this.content, '中文首發模版內容')
                if (val_thing != true) { alert(val_thing); return }

                val_thing = _valide_text(this.content_sub, '中文後發模版內容')
                if (val_thing != true) { alert(val_thing); return }

                val_thing = _valide_text(this.content_en, '英文首發模版內容')
                if (val_thing != true) { alert(val_thing); return }

                val_thing = _valide_text(this.content_sub_en, '英文後發模版內容')
                if (val_thing != true) { alert(val_thing); return }

                
                let xss_service = xss(this.service)
                if (xss_service != true) { alert(xss_service); return }
                xss_service = xss(this.content)
                if (xss_service != true) { alert(xss_service); return }
                xss_service = xss(this.content_sub)
                if (xss_service != true) { alert(xss_service); return }     
                xss_service = xss(this.content_en)
                if (xss_service != true) { alert(xss_service); return }
                xss_service = xss(this.content_sub_en)
                if (xss_service != true) { alert(xss_service); return }      

                if (!confirm('還需確認一次嗎，確定立即提交？')) { 
                    return 
                }
                this._submit()
            }
        }
    })
</script>
{% include 'base/footer.html' %}
{% endblock data %}