{% extends '../index.html' %}
{% load staticfiles %}
{% block data %}
<script  type="text/javascript" src="{% static 'vue.min.js' %}"></script>
<script>
    const icons = eval({{ icons|safe }});
    const bgimgs = eval({{ bgimgs|safe }});
    const now_icon = {{ now_icon }};
    const now_bgimg = {{ now_bgimg }};
</script>
<div>
    <div class="jumbotron" id="app">
        <h2>站點配置</h2>
        <div class="wrapper">
            <div>短信功能:&nbsp;&nbsp;&nbsp;</div>
            <input type="checkbox" v-model="sms" @change="funcValidate">

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div>电邮功能:&nbsp;&nbsp;&nbsp;</div>
            <input type="checkbox" v-model="email" @change="funcValidate">
        </div>
        <p class="tip">
            提示：開啟任意功能後，您需要重新登錄該網站，重登後您的配置才會被重新加載。
        </p>
    </div>

    <div class="jumbotron">
        <h2>自定義</h2>
        <form class="form row">
            <div class="col-sm-5 form-group form-group-lg">
                <h4 for="icons">圖標</h4>
                <select id="icons" class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-7 form-group form-group-lg">
                <h4 for="bgimgs">背景</h4>
                <select id="bgimgs" class="form-control">
                    
                </select>
            </div>
        </form>
        <div class="btn btn-primary btn-lg" href="#" role="button" onclick="validate()">
            提交
        </div>
    </div>

    <div class="jumbotron">
        <h2>開發者留言：</h2>
        <p>下個版本著重於解決客戶使用中的壹切不舒適問題，並且優化界面交互，優化界面視覺體驗。<!-- 敬請期待，或者“<a href="/feedback/">留言給我們</a>”。 --></p>
    </div>

</div>

<script>
    let sms_def = {{ request.session.layout.sms }}
    let email_def = {{ request.session.layout.email }}

    var vue = new Vue({
        el: '#app',
        data: {
            sms: sms_def,
            email: email_def,
        },
        watch: {
            sms(n, o) {
                console.log(o, n, this.email)
                if (!n) {
                    if (!this.email) {
                        alert('站点功能应至少开启一个！！！')
                        setTimeout(() => { this.sms = true }, 200)
                    }
                }
            },
            email(n, o) {
                if (!n) {
                    if (!this.sms) {
                        alert('站点功能应至少开启一个！！！')
                        setTimeout(() => { this.email = true }, 200)
                    }
                }
            }
        },
        methods: {
            funcSubmit(data) {
                
                $.ajax({
                    url: _root + '/app_conf/?option=change_layout',
                    data: data,
                    type: 'POST',
                    dataType: 'json',
                    async: false,
                    beforeSend:function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
                    },
                    success: function(e) {
                        console.log('submit e =', e)
                    }
                })
            },

            funcValidate() {
                if (!this.sms & !this.email) {
                    return 0
                }

                let sms = 1
                if (!this.sms) { sms = 0 }

                let email = 1
                if (!this.email) { email = 0 }

                const data = {
                    sms,
                    email
                }
                
                this.funcSubmit(data)
            }
        },
    })
    
    
    let html_icon = $('#icons');
    for (var i= 0; i< icons.length; i++ ) {
        const ic = icons[i]
        
        html_icon.append(
            '<option value="' + (i) + '">' +
                ic['name'] +
            '</option>'
        )
    };

    let html_bgimg = $('#bgimgs');
    for (var j= 0; j< bgimgs.length; j++ ) {
        const bg = bgimgs[j]
        
        html_bgimg.append(
            '<option value="' + (j) + '">' +
                bg['name'] +
            '</option>'
        )
        
    };
    html_icon.find('option[value=' + now_icon + ']').attr('selected', true)
    html_bgimg.find('option[value=' + now_bgimg + ']').attr('selected', true)
    
    _submit = function(data) {
        
        $.ajax({
            url: _root + '/style/',
            data: data,
            type: 'POST',
            dataType: 'json',
            async: false,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val() );
            },
            success: function(e) {
                
                const icon = e['icon']
                const bgimg = e['bgimg']
                const banner = e['banner']

                if ((icon == 2) | (bgimg == 2) | (banner == 2)) {
                    alert('更改成功，按鍵盤 Com + Shift + R 可刷新並查看結果！！！')
                }
            }
        })
        
    }
    validate = function() {
        const ni = html_icon.find('option:selected').val()
        const nb = html_bgimg.find('option:selected').val()

        let icon = true
        if (ni == now_icon) {
            icon = false
        }
        let bgimg = true
        if (nb == now_bgimg) {
            bgimg = false
        }

        if ((icon == false) & (bgimg == false)) {

        } else {
            const data = {
                'old_icon': now_icon,
                'old_bgimg': now_bgimg,
                'new_icon': ni,
                'new_bgimg': nb
            }
            _submit(data)
        }
    }
</script>

<style>
    .tip {
        margin-top: 8px;
        font-size: 18px !important;
    }

    .wrapper {
        margin-top: 12px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .wrapper div {
        font-size: 20px;
        display: inline-block;
        margin: 0px;
    }
    
    input[type="checkbox"] {
        margin-top: 0px;

        outline: none;
        position: relative;
        width: 4em;
        height: 2em;
        appearance: none;
        -webkit-appearance: none;
        background: #7f7f7f;
        border-radius: 2em;
        transition: .5s;
        font-size: inherit;
        box-shadow: inset 0 0 .2em rgba(0, 0, 0, .12);
    }
    input:checked[type="checkbox"] {
        background: #3498db;
    }
    input[type="checkbox"]::before {
        content: '';
        width: 2em;
        height: 2em;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: .5s;
        background: #fff;
        transform: scale(1.1);
        box-shadow: 0 0.05em .2em rgba(0, 0, 0, .12);
    }
    input:checked[type="checkbox"]::before {
        left: 2em
    }
</style>
{% endblock data %}